[2018-03-02 21:52] jmattheis opened #20 "OAuth2 Authentication"
* make clientId, clientSecret and authoritzation server configurable
* if user doesn't exist in the Gotify user management, try the oauth2 server

[2018-03-03 17:42] jmattheis opened #21 "Mark messages as read"
* `Read bool` to `model.Message`
* `POST /message/read` Body: `[]uint`
* `POST /message/unread` Body: `[]uint`

[2018-03-04 10:19] jmattheis opened #22 "Application & Client Icons"
* add `Image string` to model.Client & model.Application
* add image upload api

[2018-03-04 12:52] jmattheis opened #23 "Make response headers configurable"
Could be used for setting an `Access-Control-Allow-Origin`-header.

[2018-03-10 21:51] jmattheis opened #26 "Sudo mode"
Currently its possible to manage users, clients and apps with a clienttoken. This clienttoken should have a long lifetime and therefore should not have that much power.

API changes:
* create apps/users/clients apis should require basic authentication.
* hide token from get client/apps api
* add a new api for getting the token from client/apps (requires basic auth)

UI Features:
* reenter password

[2018-03-18 17:12] jmattheis opened #29 "Browser notifications for new messages"

[2018-03-18 18:19] jmattheis opened #30 "More responsive UI"

[2018-03-19 18:00] jmattheis opened #31 "Prevent removing last admin"

[2018-03-20 17:44] #29 closed

[2018-03-20 18:58] jmattheis opened #34 "Paginate Message APIs"
Adjust APIs:
* `GET /application/{id}/message`
* `GET /message`

New Query Parameter:
* `limit=uint` the amount of messages to return
* ~`since=date` return all messages before this date (limited by limit)~
* `since=id` return all messages before the given message id

Expected Response:
[code]

[2018-03-24 11:25] lslah commented on #34
`since=id` is probably better as two messages might have the same date, see https://coderwall.com/p/lkcaag/pagination-you-re-probably-doing-it-wrong

[2018-03-24 17:44] jmattheis commented on #34
@lslah Using ids for pagination seems to be better. Good point!

[2018-03-31 16:44] #22 closed

[2018-03-31 17:00] jmattheis opened #38 "Snack messages"
Would be good if the user gets more feedback.
-> https://material-ui-next.com/demos/snackbars/

[2018-03-31 20:59] #38 closed

[2018-04-01 14:41] jmattheis opened #41 "Close websocket connection after deleting client"

[2018-04-02 10:35] #41 closed

[2018-04-08 17:20] jmattheis opened #44 "Tests for the components"

[2018-04-13 16:55] jmattheis opened #46 "Update messages on delete application"
"All messages" still contains messages from the deleted application.

[2018-04-13 16:56] #34 closed

[2018-04-18 16:09] #46 closed

[2018-04-18 17:17] jmattheis opened #48 "Typescript"

[2018-05-20 11:33] jmattheis opened #51 "Pluggable extensions"
It would be nice to have pluggable extensions for Gotify. This could f.ex. be used for polling the GitHub Notification API.

* [Golang Plugin API](https://golang.org/pkg/plugin/) or some kind of JavaScript engine to enable pluggable code
* *?* Allow adding routes something like `/plugin/:name/...` *(overkill ?!?)*
  * Could be useful for webhooks
* *?* Users can enable plugins
* *?* Key-Value per

[2018-08-24 19:23] jmattheis opened #56 "Submit dialogs on return"

[2018-08-24 19:23] jmattheis opened #57 "save dark/light mode in localstorage"

[2018-09-08 16:04] #56 closed

[2018-11-06 20:19] gerroon opened #61 "Add examples"
Hi

Can you please add some examples of how to use the rest api and all that?

thanks

[2018-11-06 20:29] jmattheis commented on #61
@gerroon There is already an api documentation which can be found here https://gotify.github.io/api-docs/

But still it would be good to have some examples with wget, curl and others that can be easily copy and pasted.

[2018-11-06 20:49] jmattheis opened #62 "Update to go1.11"
https://blog.golang.org/go1.11

[2018-11-06 20:51] gerroon commented on #61
Yes Api is good but not all of us understands APi stuff, we just wnat to use it.

I saw this on Reddit, and it seems like people can need some help there!

https://old.reddit.com/r/selfhosted/comments/9upygi/a_restapi_for_sending_and_receiving_messages_in/

[2018-11-07 00:07] Zippyyy commented on #61
Agree, I'm confused where to put my token.

[2018-11-07 01:41] flamechair opened #63 "E2E Encryption support?"
This would be a great feature to go along with the self-hosted aspect of this. By the way, love this tool!

[2018-11-08 04:57] Red5d opened #65 ""url" message parameter"
It would be useful to have an optional "url" parameter (and maybe a "urltitle" parameter too for customizing the display text for it) when posting a message to display a clickable link to a URL in the notification message.

[2018-11-08 07:42] Leopere commented on #61
I realise this project is fairly young but it would be great to be able to send notifications via this system from the CLI will there be reasonable documentation soon?

[2018-11-08 12:32] CSmither opened #66 "Send message to particular user"
It would be great to be able to send a message to a particular user.
Possibly as an optional parameter for the message object of the user's username? So the message JSON would look something like...
[code]

[2018-11-08 20:20] fbartels commented on #63
Yes, that is was e2e usually refers to. In addition only the user should be able to decrypt the message.

[2018-11-08 22:04] iamtpage commented on #63
I'd like to see D@RE on server and client, so if server/client is compromised (phone is lost/stolen, malware on server, etc) then the contents of the notifications are not.

Implementation wise this would be a PSK that encrypts data on server, transmits message to client(s), clients decrypt message locally via the PSK

[2018-11-09 02:58] ocomsoft opened #67 "Support CORS"
I am far from an expert but while attempting to write a simple chat app in Vuejs to an existing running server I had to use a proxy to access the service

[2018-11-09 06:04] ocomsoft commented on #61
Hey I felt the same way.. It's taken me all day but this is what I have come up with. https://github.com/ocomsoft/vhat Please excuse the rough UI but I am no expert in Vuetify, however, I think this project shows the basics of a Javascript Chat app. I hope it helps someone else. Please feel free to do whatever you want with it.

[2018-11-09 06:57] jmattheis commented on #61
@ocomsoft Nice! Tho Gotify isn't really architected for communication between users because they currently need to share an account.

[2018-11-09 06:59] ocomsoft commented on #61
So I learnt!! I thought I was doing something wrong.. :) You know once you let it out there people will try and do all sorts of things with it.. Thanks for your efforts..

[2018-11-09 07:02] jmattheis commented on #67
Thanks for your time, for making this app with Gotify (:

When you build Gotify in dev mode, then the headers will already be set see https://github.com/gotify/server/blob/master/router/router.go#L44 (dev mode would be just building Gotify with `go build app.go`). Also there is an issue for making the response headers configurable see #23

[2018-11-09 07:05] jmattheis commented on #63
So the client still sends plain-text notifications but the server encrypts the messages before storing them. Yeah that could work.

[2018-11-09 14:12] iamtpage commented on #63
Technically to be true E2E the client would have to encrypt messages locally before sending them to the server. I'd settle for encrypted at rest messages on the server, otherwise I'd have to build encryption into the notification scripts I build and that can get hairy. I'm open to other possibilities if anyone has a better idea.

[2018-11-09 16:14] jmattheis commented on #61
Done in #64

[2018-11-09 16:14] #61 closed

[2018-11-09 16:17] jmattheis commented on #63
Okay, implementing this feature may require some effort and changes how clients view messages. So let's wait till more users want this feature to decide whether to implement it or not.

[2018-11-09 23:54] ocomsoft commented on #67
Thank you. I would rather just use the configuration.

[2018-11-09 23:54] #67 closed

[2018-11-09 23:55] ocomsoft commented on #67
No need for this to stay here when the #23 issue is fixed this would not be an issue.

[2018-11-11 14:53] schwma opened #68 "Correctly show message newlines in Web-UI"
Currently newline characters seem to be replaced by spaces in the messages Web-UI.

Example curl:
`curl -X POST "http://localhost/message?token=<token>" -H  "accept: application/json" -H  "Content-Type: application/json" -d "{  \"message\": \"This\nis\na\n\ntest\",  \"priority\": 0,  \"title\": \"Test\"}"`

[2018-11-11 21:18] schwma opened #69 "Allow updating app name and description through API/UI"
I could not find a way to update an application's name and description through the UI or the API. Since its possible to change the application image after creating an application, I expected to be able to change other application properties as well.

[2018-11-12 11:06] xp-1000 opened #70 "https though reverse proxy"
Hello,

Thanks for your work on gotify, I was looking for an alternative to FCM for my android device (which has not google play services) and it seems to be a good one :)

I installed the server and tested to connect from the android application, it works fine :

- directly to http port of gotify
- directly to https port of gotify
- through nginx proxy on http port of gotify

Sadly, I did not man

[2018-11-12 11:47] JohnnyLeone opened #71 "Accept POST messages without title"
I'd like to use the requests for a application without always specifying a title for it. The title should not a mandatory field and if no title got specified we should always pick the application name for it. This also reduces the minimum size of a API request.

[2018-11-12 15:32] gerroon commented on #61
It seems like some examples added, but I cant find them, any pointers?

[2018-11-12 16:29] jmattheis commented on #69
I though about doing this in the start but decided not to, because normally its possible to just delete and re add the application. But yeah this would be better UX and the application token would not change.

[2018-11-12 16:44] gerroon commented on #61
thanks, that is barebones :)

[2018-11-12 17:34] jmattheis commented on #70
It could be a certificate problem, does gotify/server output some errors messages when you try to authenticate with android (they look like this `Error#1 ...`)? Which android version do you use?

With the newly released gotify/android 2.0.2 its possible to disable ssl verification and set own certificates. Also the logs view can now be opened from Login. It would be great if you could try it again

[2018-11-12 17:48] xp-1000 commented on #70
Thanks for your answer.
Sorry I should specified that the certificate is valid. Indeed, as I said, the access from nginx seems to have the same behavior than without (or even with nginx but in http) and so I can access to the web ui from my web browser. I confirm the certificate is trusted by my browser (issued from letsencrypt).
In logs, there is no error, in fact I have the same log for the succ

[2018-11-12 18:02] xp-1000 commented on #70
ok I just tested the last android version 2.0.2 on my device (android 6.0.1) and I got the same error either I disable or not the ssl validation in options.
The only log I have on server side is :
`gotify[48642]: [GIN] 2018/11/12 - 18:56:45 | 200 |       80.11µs | 185.251.160.208 | GET      /version`
which is the same when it works (in http for instance).
Howevern, as you can see with my curl exam

[2018-11-12 19:08] xp-1000 commented on #70
![screenshot_20181112-200711](https://user-images.githubusercontent.com/2693213/48369396-b3379200-e6b6-11e8-97e9-bc4c149d1de2.png)

My bad, I did not see there is log.

[2018-11-12 19:36] xp-1000 commented on #70
OK may be I have a track thanks to this post : https://stackoverflow.com/questions/46807237/protocolexception-expected-status-header-not-present

In fact, as you can see in my nginx config, I used http2. So tried to remove ` http2` from by server block for gotify but I still have the same behavior. After some reading on nginx http2 I understand if there is AT LEAST one server block with http2 so a

[2018-11-12 19:50] jmattheis commented on #70
You're right, I've added http2 to my nginx conf and now I receive the same error. The client is generated with swagger-codegen, so I'll probably just try out an other client which doesn't use an outdated version like this. I'll fix this bug later this week.

Lets move this issue to the android project as its not related to gotify/server. -> gotify/android#24

[2018-11-12 19:50] #70 closed

[2018-11-12 20:42] madding commented on #71
@jmattheis I make pull request in my fork, because I don't have permission. Please, try to check it https://github.com/gotify/server/pull/72

[2018-11-13 09:01] Nicolai- commented on #23
Any news here? :)

We need this for several different sub-domains, and want just one single gotify instance for all of them - like
- gotify.example.com
- sub1.example.com
- sub2.example.com
- etc

This is currently only available if we run in dev-mode - but... ;)

[2018-11-13 16:24] jmattheis commented on #23
@Nicolai- probably this week or next one, why do you need this feature for having different subdomains? You could use a nginx proxy to handle more than one domain.

[2018-11-13 19:27] fMads commented on #23
@jmattheis I work with @Nicolai-
We currently have many subdomains (each of our customers have their own subdomain), and would like all of them to talk to the same gotify instance (instead of having one instance per subdomain).

When testing now, and trying to connect from sub.example.com to gotify.example.com, we get a 403 Access Denied/Not authorized.
Our best guess is, that it's because of CORS

[2018-11-13 19:40] jmattheis commented on #23
@fMads @Nicolai- What exactly do you mean with

Are all (sub) domains are hosted on one server? Do you using the Gotify UI or do you manually call the API of Gotify?

When you receive a 403 unauthorize and its logged in Gotify then its likely not an issue with missing CORS headers. When the CORS headers are missing there should be only an "OPTIONS" request logged in Gotify and the browser console

[2018-11-13 19:57] fMads commented on #23
@jmattheis The subdomains are spread over multiple servers - and all subdomains are running in their own docker-container - gotify is also running in it's own container.

Hmm, I think you're right about the CORS.
What we tried were
- Open Gotify UI
- Break in javascript where it creates the websocet connection (MessageAction.ts:76)
- Copy the url (including the token)
- Run in Chrome Devtools on o

[2018-11-13 20:04] jmattheis commented on #23
@fMads Do you use an nginx proxy or something similar or do you directly connecting to Gotify. Does the rest of the application work and only the websocket connection is failing?

[2018-11-13 20:09] schwma opened #74 "Command line push client for Gotify"
I created a command line push client, written in python, for Gotify that makes creating notifications from the CLI or from scripts a little easier. My client uses default values for each notification parameter, but parameters can be overridden by supplying the respective arguments.

Check it out at: https://github.com/schwma/gotify-push
Feel free to give me feedback on what to improve or create a

[2018-11-13 20:12] fMads commented on #23
@jmattheis Yes, we use nginx proxy (also running in container).

The Gotify UI works perfectly fine - and we are able to connect with rest and post messages (which shows up in Gotify UI - loaded by websocket).

So yes - everything works perfectly fine - except for creating websocket from other domains.

[2018-11-13 20:18] jmattheis commented on #23
@fMads Have you added websocket upgrade headers to your nginx configuration?

This is my proxy configuration: Both upgrade and connection headers are necessary for websockets to work.
[code]

[2018-11-13 20:32] fMads commented on #23
@jmattheis We don't have anything about the Upgrade Header, no.
But since Gotify UI actually works (even with the Websocket), it must work? :)

Also - if I give an invalid toten (or no token at all) from a different subdomain I get the following error: "WebSocket connection to 'wss://gotify.example.com/stream?token=AHnSXR8aN131E0J' failed: HTTP Authentication failed; no valid credentials available

[2018-11-13 20:38] jmattheis commented on #23
What? The websocket works now? When I omit the headers I get the following error in the browser console:

Yeah the connection should work fine even if you get a 403 error, tho the 403 error could come from the nginx proxy and not from Gotify. Are there 403 Log entries in the  Gotify log?

[2018-11-13 20:43] fMads commented on #23
@jmattheis Gotify UI has worked all along - also with websocet. It's only connection to websocket from different domain, that fails..

And I just found the Upgrade-config in our nginx proxy - so that is configured correctly.

Here are the Gotify log (the first line is when I tried to authenticate in DevTools while on Gotify UI-page - the second line is when I tried the same from a different domain

[2018-11-13 20:56] fMads commented on #23
@jmattheis @Nicolai- Just pointed out for me, that the issue may be in checkSameOrigin in [stream.go](https://github.com/gotify/server/blob/master/api/stream/stream.go).

That looks very much like the issue we have here :) Should I create a new issue for doing something about that? Maybe have a list of accepted domains or a regex for checking?

[2018-11-14 00:07] Leopere commented on #74
@schwma it would be pretty incredible if your CLI client didn't stop at making sending messages "easier" if it could go so far as to add End to End Encryption to some degree it'd be lovely.

[2018-11-14 03:40] egorsmkv opened #75 "Did you see Centrifugo?"
Hello.

There is a project called Centrifugo. GitHub - https://github.com/centrifugal/centrifugo

Did not see it?

[2018-11-14 16:09] jmattheis commented on #75
Nope I didn't found it back then, when I started working on Gotify.

[2018-11-14 16:09] #75 closed

[2018-11-14 16:10] jmattheis commented on #23
@fMads This should also be fixed in this issue.

[2018-11-14 17:43] marvinwankersteen opened #76 "Notification sound plays twice on the phone"
Hey,
this project is really nice, because I can host it myself! Thanks!

Is it normal, that my phone plays the notification sound twice, if I send one message via curl?
I use Android 8.1 on OnePlus5 with LineageOS.
Gotify runs in docker.

[2018-11-14 18:12] jmattheis commented on #76
This is probably fixed in https://github.com/gotify/android/pull/16/commits/c53ad9b5fc51e6042339686e2137c74b326f612f it is shipped with android app version 2.0.2

[2018-11-14 18:28] marvinwankersteen commented on #76
Okay nice. I use 2.0.1 from F-Droid.

[2018-11-14 18:41] jmattheis commented on #76
Fdroid already noticed the update (https://gitlab.com/fdroid/fdroiddata/commit/94be27ff43224522ad30ab9a2f44a8772d66c229) so it will be built soon.

[2018-11-14 19:06] jmattheis commented on #71
Done in #72

[2018-11-14 19:06] #71 closed

[2018-11-14 19:44] jmattheis commented on #76
If the issue still occurs after the update, then open an issue on [gotify/android](https://github.com/gotify/android).

[2018-11-14 19:44] #76 closed

[2018-11-14 20:06] jmattheis commented on #68
Fixed in https://github.com/gotify/server/commit/141193136d14d8645bd4f79e1db93ce8c6284746

[2018-11-14 20:06] #68 closed

[2018-11-14 20:48] ktpx commented on #57
Would be nice if the mobile app had dark mode (for us photobic people).

[2018-11-14 21:31] schwma commented on #74
@Leopere Theoretically, if you use the UNIX philosophy of piping data from one program to another, you can already send end-to-end encrypted notification message contents with gotify-push. For example, if you set up your devices to use gpg (or another command line encryption tool of your choice), you can do the following to send an encrypted notification:

[code]

To decrypt the message you would

[2018-11-14 21:39] schwma commented on #68
Great, thanks!

[2018-11-14 21:53] Leopere commented on #74
What do push players like GCM and FCM APNS etc... do?

On Wed, Nov 14, 2018 at 4:31 PM Marcel Schwarz <notifications@github.com>
wrote:

[2018-11-14 22:44] schwma commented on #74
Those services cannot be directly compared to how Gotify works since Gotify combines its messaging and notification protocols. The services you mentioned are mostly only messaging protocols on top of which E2E encryption is built. Clients then interpret the message and show the decrypted message as a notification. To send an encrypted message, several messages need to be sent. At the very least ke

[2018-11-15 05:35] flocke opened #78 "System authentication"
Similar to issue #20 I would love to have the option to use my Linux system users to login to gotify. As a bonus maybe only those that belong to a certain group.

[2018-11-15 08:27] flocke opened #79 "Bind to IP address"
I would love to have the option to bind the gotify server to an IP address (in my case 127.0.0.1).

I run it behind an nginx reverse proxy under its own subdomain. Nginx takes care of HTTPS, so I only have HTTP enabled in gotify. I would like to only allow the localhost to connect to gotify.

I could easily do this with iptables (and I probably will until this is implemented) but I think a solutio

[2018-11-16 02:21] Leopere commented on #63
End to End encryption generally requires some degree of sender client.  Not the worst idea but its definitely something that would be required unless you just wanted to tell people to use GPG or something weird.

[2018-11-16 22:05] ktpx opened #80 "data not saving"
I can't get the app to create a database when running in docker.  On restart, everything is back to default

Also, how do you correctly map the volume to config? -v /etc/config:/etc/config seems to be the only possibly way (yet it still says (failed to find configuration config.yml) but it works.

docker run -p 8456:80 -v /etc/gotify:/etc/gotify  gotify/server

In the config, it wants data/gotify.

[2018-11-17 07:51] ceptonit commented on #80
I think the volume needs to be defined in the DockerFile.
So you'd need to build the docker image yourself, which I've failed to do so far.

The gotify docker image source doesn't seem to be up-to-date, I could be wrong though.

[2018-11-17 08:55] jmattheis commented on #80
The database and images are in the `data` folder. This is a *relative* path outgoing from the gotify executable. So, the path you need to mount is `/app/data` because the executable is placed in the `/app` folder.
[code]

[2018-11-17 09:11] marvinwankersteen commented on #76
It's fixed with 2.0.2 from Fdroid. Thanks!

[2018-11-17 10:29] ceptonit commented on #80
@jmattheis

Works perfect, thank you :)

[2018-11-17 14:53] ktpx commented on #80
Thanks for the clarification, now it works correctly.

Using docker-compose I made this file then:

  version: '2'
  services:
    gotify:
      container_name: gotify
      image: gotify/server
      volumes:
        - /data/docker/gotify/config:/etc/gotify
        - /data/docker/gotify/data:/app/data
      restart: always
      ports:
        - "8456:80"

[2018-11-17 14:53] #80 closed

[2018-11-19 11:34] flocke opened #82 "Reverse proxy configuration (nginx)"
Could someone please share his working reverse proxy configuration for nginx?

I am currently running gotify under it's own subdomain using a reverse proxy with nginx,
but my client keeps reconnecting a lot. I assume there is something wrong with my timeouts,
but I don't really know which values to chose.

[2018-11-19 15:07] fgerling commented on #82
I would be helpful if you show us your nginx config.

Did you configured the `/stream` websocket endpoint in your nginx config file?

[code]

[2018-11-19 16:02] flocke commented on #82
I'm not home right now, but I will post my config once I am.

Right now I have the config only for `/`, which looks a lot like yours. Do I have to define `/stream` really seperately?

[2018-11-19 16:13] jmattheis commented on #82
This is my configuration:
[code]

[2018-11-19 18:06] flocke commented on #82
Mine was just
[code]
with
[code]
defined earlier.

I'm gonna try the additional headers and longer timeouts from @jmattheis and report back.

[2018-11-19 21:20] flocke commented on #82
It seems to work out great so far. I have been running it for the last 3h and I have yet to see a disconnect. I'm gonna keep an eye on the battery consumption as well tomorrow.

[2018-11-20 18:34] flocke commented on #82
The `7d` timeout seems to have increased the battery consumption a lot:

![](https://cloud.shadowice.org/s/2GHboy4EzMjymoX/preview)

I now switched to a timeout if `1h`, which seems reasonable to me and it has been a lot better (only about 2% in the same timeframe). I'm gonna run with it a while and see what happens. I'm gonna close this issue for now.

[2018-11-20 18:34] #82 closed

[2018-11-20 19:17] madding commented on #69
Add end-point for this to API @jmattheis

[2018-11-21 20:07] jmattheis opened #84 "Missing 400 BadRequest response in swagger definition"
All endpoints who create or update something should define a 400 bad request response.

[2018-11-22 19:59] jmattheis commented on #62
Done in #81

[2018-11-22 19:59] #62 closed

[2018-11-24 10:32] jmattheis commented on #84
Done in #86

[2018-11-24 10:32] #84 closed

[2018-11-26 20:12] jmattheis opened #87 "iOS-App"
It would be great to have an iOS app for Gotify. Maybe someone from the community could contribute such an app as I do not have any experience with iOS/swift.

[2018-11-28 12:43] L11R commented on #82
@flocke 7d is crazy timeframe. And even 1h is pretty much. Server should send pings and refresh timeout. So it should be a little bit more. According to this line:
https://github.com/gotify/server/blob/ec2c3da9d4e54c5bd12dd78430398b8ef092d99d/router/router.go#L26
We need twice timeout I guess, 400 seconds, or just 7 minutes.

[2018-11-28 13:11] flocke commented on #82
@L11R Yeah, that seems much more reasonable. I'm gonna test it on my server and report back.

[2018-11-28 20:58] marvinwankersteen opened #89 "Add option to add new line like e.g. \n\r"
It would be nice to add in the message a carriage-return like \n or \r.
I already tried various things but nothing worked.

[2018-11-29 09:01] jmattheis commented on #89
Are you using the newest Gotify Version 1.2.0? See #68.

[2018-11-29 09:19] doronbehar opened #90 "panic: pq: SSL is not enabled"
I get an error when running the server with the following configuration:

[code]

Error message:

[code]

The same error appears when enabling and disabling ssl.

[2018-11-29 09:49] gedw99 commented on #79
Maybe use Caddy ? alot easier.

[2018-11-29 09:51] gedw99 commented on #63
Suggest looking into
tweetNACL
NATS nkeys uses it
Secret is stored on each device.
Provisioning key has to happen out of bound. Typically a QR code displayed and user scans it with camera. Like whats app a bit.

[2018-11-29 13:39] flocke commented on #82
I went with a 7 min timeout and it seems to be working nicely. I also figured out that the high battery drain mostly occurrs when I am in an area with bad reception and Gotify has to reconnect a lot.

[2018-11-29 13:57] flocke commented on #79
@gedw99 That won't fix this, it would just be switching the reverse proxy, gotify would still be listening on the HTTP port accessible from any IP.

[2018-11-29 15:34] jmattheis commented on #90
It's probably not a problem with the server ssl. It's a problem with the database connection.

Could you try to add `sslmode=disable` to your connection string
[code]
See https://stackoverflow.com/questions/21959148/ssl-is-not-enabled-on-the-server

[2018-11-29 21:46] marvinwankersteen commented on #89
Yes, now it works. Didn't found that issue.

Thanks.

[2018-11-29 21:46] #89 closed

[2018-11-30 13:06] doronbehar commented on #90
That worked, my server is up and running, thanks. This flag is not documented right?

Additionally, Why is there the `Failed to find configuration config.yml` message when it does exist in it's default location `/etc/gotify`?

[2018-11-30 17:17] jmattheis commented on #90
Yeah, I'll add this flag to the readme. The config library Gotify uses, outputs this message for every location where it couldn't find a config file, but yeah it is a little missleading and should be fixed.

[2018-12-01 15:32] doronbehar commented on #90
Thanks for your help, I've one more question please: I'm having trouble making use of my server because from some reason I can't log in with the default username and password.

I've tried using both the PostgreSQL server and both the SQLite file and I can see a user is created with a hashed password but the login just fails. I've tried to delete the SQLite file and rerun the server and I've tried

[2018-12-01 16:02] jmattheis commented on #90
@doronbehar could you try connecting to Gotify without the reverse proxy? Is your proxy pointing to a subdomain?

[2018-12-01 20:12] doronbehar commented on #90
Weirdly, the authentication works fine when I use the same credentials without the proxy and directly to port `8001`.

My setup is as follows:

I run `gotify` without it's builtin SSL support on port `8001` - as seen in my `config.yml`. I have a `<VirtualHost>` section in my `httpd.conf`:

[code]

[2018-12-01 20:35] jmattheis opened #93 "Failed to find config.yml"
Gotify outputs "failed to find configuration config.yml" when a config exists in /etc/gotify/config.yml. The config library outputs this message for every path it couldn't find, so the message is not wrong but missleading.

[2018-12-01 20:38] jmattheis commented on #90
I created #93 for missleading error message. Also I'll document the sslmode flag. Thanks for trying out Gotify (:.

[2018-12-01 20:38] #90 closed

[2018-12-05 04:21] madding commented on #23
@jmattheis Can we close this issue ?

[2018-12-05 06:58] jmattheis commented on #23
@madding there is still [this](https://github.com/gotify/server/issues/23#issuecomment-438433541) todo.

Same origin should always be allowed. Also an additional config property should be added, something like websocket allowed origins. This could be an regex or a list of domains, I'm still unsure what's better.

[2018-12-06 07:34] Nicolai- commented on #23
Well that would work for us, this is what we want.

But I also see it as a major change in how the server works, as now suddenly all sub domains are allowed.
If this is not how it is going to be, then I would vote for an regex config.

[2018-12-06 09:40] madding commented on #23
I think subdomains must be allowed by default, but we can add opition in configuration for this.

[2018-12-06 15:41] jmattheis commented on #23
@madding Allowing all subdomains seems like a security risk. F.ex. some hosting services give customers a free subdomain, with your change every other customer on that platform could access Gotify.

I'd prefer a list of regexes, something like this
[code]
Same origin should always be allowed.

[2018-12-09 10:48] jmattheis commented on #93
Fixed in https://github.com/gotify/server/commit/193dd67f2c8ad1716705f3b66503c0ddbe354026.

[2018-12-09 10:48] #93 closed

[2018-12-10 15:27] chris-aeviator opened #96 "Websocket not picked up after connection error"
I have the situation that gotify works reliably when I reload it's web-ui or android app, but will not receive anymore notifications after the websocket connection has been "disturbed" (which happens quite often). I can confirm that other websocket connections on the same server run without any issue.

It seems like the websocket connection is not reliably re-established. I'm happy to provide furt

[2018-12-10 16:21] jmattheis commented on #96
Do you use a reverse proxy like nginx? Which Browser do you use?
Could you have a look at your Gotify Android-App log (it is the last option in the drawer in the app).
The WebSocket status and reconnect attempts will be logged there with messages like: `WebSocket: opened` or `WebSocket: failure`.

[2018-12-10 17:01] chris-aeviator commented on #96
@jmattheis thx for your quick feedback!

I'm using an nginx-reverse proxy on the server. Here's my Gotify Android log (as screenshot :) )

![image](https://user-images.githubusercontent.com/11522213/49748181-4a3b3e00-fca5-11e8-9349-c5c2f9804205.png)

I'm running on Mozilla Firefox 62.0.3 (Arch) on the Desktop & can replicate the behaviour by letting the Gotify UI rest for some minutes in an not ac

[2018-12-10 20:31] RamonSmit commented on #66
Well instead of notifying by username, I think I would prefer to see an implementation of sending to specific tokens of subscribers. Or a list of tokens that are going to receive the message.

[2018-12-11 16:16] geeseven opened #97 "character limits with sqlite3"
I just got around to kicking the tires with this project.  Due to a copy/paste mistake, I discovered that there are virtually no character limits in most (maybe all) fields when using sqlite.  For the most part, both the web interface and the mobile app deal with 1600 characters for application name and description along with message title and message.  I have a feeling that is not the intended us

[2018-12-11 20:07] jmattheis commented on #97
Thanks for trying out Gotify (:.

Interesting finding! In MySQL `varchar(255)` is used and enforced, therefore it's only possible to send messages with `length <= 255`, this seems like a bug. In postgres the type `text` is used instead of `varchar(255)` so there is no limit like in sqlite.

It should be consistent between all databases.

[2018-12-12 14:38] L3vi47h4N commented on #63
I'd use this feature.

+1 for @gedw99's suggestion.

[2018-12-12 21:18] jmattheis commented on #23
Fixed in [v1.2.1](https://github.com/gotify/server/releases/tag/v1.2.1). Thanks @madding!

[2018-12-12 21:18] #23 closed

[2018-12-13 00:14] geeseven commented on #66
Seems like groups would be needed.  If groups are needed, seems like group admins  and group permissions would be needed.  Then that opens up a can of worms.

Could a user unsubscribe from messages themselves or is that something only the group admin could do?  Could a user set priority for a message that is different than what got set during creation?  Do all members of the group have permissions

[2018-12-13 08:04] HeaDBanGer84 opened #98 "Subscribe to RSS feeds"
It would be nice to have the possibility to check RSS/Atom-Feeds as a Notification Source. This would enable a lot of other message-source without changing a single line of code.

[2018-12-13 16:12] geeseven commented on #63
Android's notification log seems to be problematic for end to end encryption.  I know that Signal's Android application offers a few different options to limit what information gets logged.  The only way to ensure that no information is logged is to completely disable notifications.  This might be acceptable for a secure messaging application where notifications could be seen as an optional featur

[2018-12-13 19:58] madding commented on #65
@jmattheis Can I add this npm package on client side ?

https://www.npmjs.com/package/markdown

[2018-12-13 22:57] geeseven commented on #69
Any chance could we also get the ability to change a client name?  I got like 6 Firefox 64.0 clients and no way to tell them apart.

[2018-12-14 01:56] geeseven commented on #79
I took at a look at this one, as it was tagged 'good first issue'.  Although in my case it would be 'good first go issue'.

The current functionality is the gotify server listens on '::' which all IPv4 and IPv6 addresses, see [here][0] for http.  It appears that '::' is the only way for go's net listen feature to allow multiple IPs to be bound to a port.  There does not appear to be a way to allow

[2018-12-14 09:59] flocke commented on #79
@geeseven In my case that would be totally fine since I only need `127.0.0.1` as endpoint for my nginx proxy. It may even be enough to only use a unix socket so that only local clients (nginx) can connect but I'm not sure that is as easy as just binding to an IP address.

[2018-12-16 03:16] iamtpage commented on #63
@geeseven The E2E would be more to ensure the security of the message/notification in transit from server to client, not for the security of the message once it's delivered. Once it's delivered the responsibility would be on the user to have only trusted apps installed.

[2018-12-22 16:39] jmattheis commented on #98
Hey @HeaDBanGer84, thanks for your issue!

I dunno if this functionality should be integrated into Gotify. With some programming knowledge it should be pretty easy to use a existing rss reader library and then push notifications to Gotify on new rss-entries.

I want Gotify to be as simple as possible, adding features like this increases the code complextity and possible bugs. Maybe #51 could help

[2018-12-22 18:52] jmattheis commented on #96
@chris-aeviator Could you show your nginx config? I've left a firefox tab with Gotify open for around 2 hours (on Windows) and it still works as expected.

The multiple "WebSocket opened"-messages in the log are probably a bug, could you try to force stop the Gotify app? Have you disabled the battery optimization for the Gotify android app?

[2018-12-24 12:08] tkndrm opened #99 "Raspberry B+ Segmentfault"
Hi, cool project. I really want to use it on my (old) Raspberry B+ (arm6). Of course it doesn't work with the arm7 binary/docker version and give me _segmentfault_ when i run it. Is it possible to support arm6 and release a binary for it?

### German:
Hi, super Projekt. Würde es sehr gerne auf mein (alten) Raspberry B+ (arm6) laufen lassen. Natürlich klappt die arm7 binary/docker version nicht und

[2018-12-26 07:59] tkndrm commented on #99
Thanks, it output me this:

i try to fix it by installing `libc6` via `apt-get`. no difference.

[2018-12-26 11:03] jmattheis commented on #99
Could you do a `ldd --version` and paste the output? I compiled Gotify with version 2.28 and your pi probably has an older version. See https://askubuntu.com/questions/421642/libc-so-6-version-glibc-2-14-not-found

[2018-12-26 18:40] tkndrm commented on #99
Yes, looks like `GLIBC_2.24` is the latest on Raspberry B+  with Raspbian 9.6 (stretch)

	/usr/lib/arm-linux-gnueabihf/libarmmem.so (0xb6ebf000)
	libdl.so.2 => /lib/arm-linux-gnueabihf/libdl.so.2 (0xb6eac000)
	libpthread.so.0 => /lib/arm-linux-gnueabihf/libpthread.so.0 (0xb6e83000)
	libc.so.6 => /lib/arm-linux-gnueabihf/libc.so.6 (0xb6d44000)
	/lib/ld-linux-armhf.so.3 (0xb6ed5000)

GLIBC_2.4
GLIBC

[2018-12-28 11:58] jmattheis commented on #99
@tkndrm https://travis-ci.org/gotify/server/jobs/472423467#L936 travis-ci has the version 2.19 which also isn't listed in your strings output.

You could compile Gotify yourself either on your pi or a system with sufficient glibc version.

[2018-12-28 11:59] #74 closed

[2018-12-28 12:01] jmattheis opened #101 "Make client name changeable"
https://github.com/gotify/server/issues/69#issuecomment-447151793

Like the user and application api the client api should also have an update interface.

[2018-12-28 12:02] jmattheis commented on #69
@geeseven I've created an issue for this: https://github.com/gotify/server/issues/101

In this issue the frontend part for updating the application stills needs to be done.

[2018-12-30 22:35] hypervtechnics opened #102 "Better "Getting started""
Cover things like:

1. Downloading binary from releases page
2. Unzip it
3. Assign permissions
4. Setup to run as a service
5. Config file/first start

[2019-01-01 11:41] doronbehar commented on #82
Hey @fgerling, I've had the same problem as @flocke with nginx and I used your configuration example from this comment: https://github.com/gotify/server/issues/82#issuecomment-439924278

But, I've had to make a small change to that - instead of `proxy_pass http://127.0.0.1:8001` I used `proxy_pass http://127.0.0.1:8001/stream` and it worked.

Additionally, speaking of perhaps there should be inclu

[2019-01-01 15:56] Buxdehuda opened #103 "Share applications between users"
It would be great if an application could send messages to multiple users at once.

[2019-01-01 16:09] Buxdehuda commented on #103
Seems to be similar to #66 sorry

[2019-01-01 16:09] #103 closed

[2019-01-03 05:10] eternal-flame-AD opened #106 "Host field in swagger not filled correctly"
I found that the host field in `/swagger` is always empty, however when I reviewed the source code I found this line:
https://github.com/gotify/server/blob/68b160997d982c7465db6a65b925c94f0aa2e531/docs/swagger.go#L12

I guess that you hoped to interpolate the source host into `desc.json`. However, for server requests, the `URL` field only contained the request URI. I think you would need `ctx.Requ

[2019-01-03 13:19] jmattheis commented on #102
@hypervtechnics Do you mean with `Setup to run as a service` something like a systemd service? I've not much experience in this field, so I'd be happy if someone could contribute this part to [gotify/website](https://github.com/gotify/website)

[2019-01-03 15:02] jmattheis commented on #106
Hey @eternal-flame-AD,

good catch! I'll fix that.

[2019-01-03 15:13] #106 closed

[2019-01-04 11:43] eternal-flame-AD commented on #51
I have implemented a basic plugin support [here](https://github.com/eternal-flame-AD/gotify-server/tree/master/plugins). Featuring:

- Plugin Scheme Version Verification
- Internal requests
- Register handlers

[Here](https://github.com/eternal-flame-AD/gotify-plugins) is a collection of plugins that I wrote.

Currently, I use it to receive webbooks from netlify and it worked perfectly. I think fu

[2019-01-04 15:45] hypervtechnics commented on #102
I'd take the guide from gitea as an example but I am not sure about The configuration aspect. Also steps like: Start app once to let it generate all required filesystem aspects or just write the config and place it with executable? Does the app require a separate user?

[2019-01-04 20:16] jmattheis commented on #51
@eternal-flame-AD I think this is a step in the right direction, but currently it looks pretty hacky (f.ex. using the httptest package for building the request). Also I feel like your use case with netify doesn't really need plugin support, you could build a standalone executable with a simple http interface which then pushes messages to gotify/server via the rest api.

I would only see benefits i

[2019-01-05 01:35] eternal-flame-AD commented on #51
## Internal requests

Yeah this is not very elegant and I think there should be a better way to do this. I think we could build a official golang application API wrapper and use the official wrapper to provide APIs for plugins, eg:
[code]
[code]

## Whether to build a plugin

Literally, any plugin could be implemented by building a standabone executable and proxying requests to gotify. IMO the rea

[2019-01-05 22:34] jmattheis commented on #51
@eternal-flame-AD thanks for sharing your thoughts (:.

**This is just a brain-dumb. So nothing is final or even really thought out.**

* If we have plugins for multiple users the best way would be to store the config in a database.
[code]
* Dynamically generating a UI seems pretty expensive. So maybe we could give the user a yaml editor in the gotify ui which supports validation/autocompletion an

[2019-01-06 04:16] eternal-flame-AD commented on #51
## User Context
I highly agree with you about how plugins should be initialized with a `UserContext`. Users would have a private plugin zone at `/plugins/:pluginName/:userID/`

## Subrouter
I currently consider exposing these endpoints:
[code]
[code]
[code]
[code]

## Plugin types

I think we could add more interfaces in the future to provide more functionality to plugins while keeping backward ca

[2019-01-06 07:06] eternal-flame-AD commented on #63
I think when we are talking about E2E we are talking about:
- Keeping the plaintext unaccessible by the server(gotify) and other adversaries, but only accessible to the sender(applications) and receiver(clients)
- Verification of the authenticity of the message source(applications)

These are not related to E2E:
- How client applications could keep the received and decrypted message in a secure pl

[2019-01-06 12:38] jmattheis commented on #63
@eternal-flame-AD Thanks for that detailed proposal.

I intended Gotify to be as simple as possible, with e2e encryption like this, sending a messages without any cli would be nearly impossible. Sure e2e could be optional it would still greatly increase the code complexity of both gotify/server and all clients.

Here is a different implementation using PGP, remember: I'm an encryption noob.

Gotif

[2019-01-06 12:52] jmattheis commented on #51
Maybe replace the userId with a random string to provide some "authentication". (Yeah it still can be bruteforeced)

Apis: I would prefer naming it `plugin` that it's consistent with other apis.
* `GET /plugin ` - returns all plugins enabled and disabled for the current user
* `POST /plugin/:name/enable` - enables a plugin for the current user
* `POST  /plugin/:name/disable` - disables a plugin fo

[2019-01-06 14:18] eternal-flame-AD commented on #63
First I need to clarify some words I used in the later text to prevent misunderstandings:
- _Gotify_ denotes the gotify server process
- _User_ denotes a user on gotify, which controls a group of applications and clients authenticated by _access token_.
- _User password_ denotes the username/password used to generate _access tokens_.
- _User authentication_ denotes the authentication with username

[2019-01-06 14:58] eternal-flame-AD commented on #63
Actually I also partially agree with you that this is not a very important feature, but it seemed that this issue received a lot of support. If this is really wanted by a lot of users than we might add this feature. Generally speaking, we are choosing between the two:

- Encrypt messages that is _stored to the database_ on a user level, which is undecryptable only using the information available o

[2019-01-06 15:14] eternal-flame-AD commented on #51
## Token
I think it is good, but maybe call the _random string_ something like "plugin token" that starts with "P" for consistency?

## Plugin types

IMO we definitely should do this, otherwise, it would be painful for future API changes. Plugins could be initialized in this way, very elegant and maintainable in my opinion:

1. Type assert it to Plugin or panic.
2. If it implements Configer, allow

[2019-01-06 15:50] jmattheis commented on #51
Yes, good idea.

Plugin types: The structure is okay.

[2019-01-06 16:09] eternal-flame-AD commented on #63
I think I got what you meant here. The required user interaction would be:

- verify the recipient key signature from the application perspective each time a new application is added

And this would implement
- a proper encryption on server storage
- messages encrypted on a user recipe

This would NOT implement
- forward secrecy
- end-to-end encryption
- authenticity verification of message source

[2019-01-06 18:45] jmattheis commented on #63
Could you clarify what you mean with client-only PGP and PGP on both sides?

[2019-01-06 23:41] eternal-flame-AD commented on #63
In the client only mode, there is only one PGP key in the system(actually we can use symmetric cipher instead in this case), the public key is open and the private key is shared among clients. Application sends encrypted but not signed messages to clients. Thus, each time a new application is added, user need to make sure that it received the correct public key.
On the both sides mode, in addition

[2019-01-07 00:01] eternal-flame-AD commented on #63
New thoughts: actually in your case I think a simpler solution is just to use the derived user password which is kept secret from the server as a symmetric key and I think that provides just as much security as your implementation.

Also I thought it would be complex to keep the key in consistent among endpoints by switching the encryption key smoothly while not losing old messages during a passwo

[2019-01-07 14:03] monsieurpouet opened #109 "Loop rebooting with docker"
Hi !

I've a little issue (I guess) with my yaml file.
I've created a docker-compose file with that:

[code]

But, when I launch my docker-compose, I see, in my docker logs, this error.
And my container, reboot constatly.

Any ideas perhaps ?

[2019-01-07 14:32] eternal-flame-AD commented on #109
Since you enabled SSL but did not enable let's encrypt, you need to manually specify the SSL certificate location:
[code]

[2019-01-07 17:30] monsieurpouet commented on #109
Humm, if I understand.
Either, I use SSL with the pem file, or I use LetsEcnrypts isn't it ?

For put the pem file, I have to activate my letsecnrypt with my virtualhost, and start my container after.

[2019-01-07 19:09] jmattheis commented on #63
Alright, thanks for the clarification. I would say, we wait some time till we have feedback for the given proposals.

[2019-01-07 19:16] jmattheis commented on #109
@monsieurpouet Yeah, you either need the private key and certificate or use letsencrypt if you want gotify/server to handle TLS. Otherwise you could use a reverse proxy (something like nginx or Caddy) which handles https requests and proxies them to gotify/server.

[2019-01-08 13:35] webracer999 commented on #79
I've the same issue. I would like to put gotify behind a reverse proxy (apache).
My VPS has a firewall, but despite it would be better, if I can bind gotify to ::1 or 127.0.0.1

[2019-01-08 18:44] jmattheis commented on #51
@eternal-flame-AD If you like to do it, feel free to do so (:. How about I create a branch on this repo where you can add PullRequests from your fork, then there can be smaller pull requests which can be discussed easier.

[2019-01-08 22:14] monsieurpouet commented on #109
Okay ! So, this my docker-compose:

version: '3'
services:
    gotify:
        image: gotify/server
        ports:
                - '127.0.0.1:2083:443'
        volumes:
                - /etc/gotify:/app/data
        environment:
                - GOTIFY_SERVER_PORT=80
                - GOTIFY_SERVER_SSL_ENABLED=true
                - GOTIFY_SERVER_SSL_REDIRECTTOHTTPS=true
                - GOTI

[2019-01-09 07:04] eternal-flame-AD commented on #51
like@jmattheis I have opened #110. Actually, I prefer to implement it progressively in one pull request, you can review on the completed part indicated on the checklist at any time you wish and I can work on the remaining part in parallel(eg. I finish the backend databse part and move on to plugin base while you could leave your comments on the database thing), and we will carry out a final review

[2019-01-09 19:07] jmattheis commented on #51
Yeah you can do one PR and incrementally update it.

How about we add a repo to the gotify organzation something like `gotify/plugin-api` and then define all plugin interface there. The benefit would be to have a versionized plugin api version and gotify could support multiple plugin api version (if that happens).

[2019-01-10 03:08] eternal-flame-AD commented on #51
That would be good, although I believe most plugin users will build their own executable and plugin from source. In order to gurantee backward compatibiity, some strict static code checking on the new package would be needed.

I did not find an official document on the definition of plugin compatibility, so I did some experiment myself and came with the following conclusion:

In order for plugins

[2019-01-10 17:10] jmattheis commented on #51
Just to be clear, this are limitations by the plugin api from golang or are they limitations you propose?

Either way, the plugin and gotify/server should both import the plugin api which must be stable.

We can use go modules for versionizing, then it will also be possible for gotify/server to import multiple version of the plugin api.

So v1 would be `github.com/gotify/plugin-api` and v2 would b

[2019-01-10 23:00] eternal-flame-AD commented on #51
These are limitations from golang. I did expect that struct and interface definitions can't differ(as it breaks type safety) but I didn't expect that extra exported symbols are not allowed.

The versioning scheme is OK. Just compare the exported symbols with the earliest known release using tools such as go-outline during CI and that would work.

[2019-01-11 18:38] jmattheis commented on #51
👍

[2019-01-12 10:15] eternal-flame-AD commented on #51
@jmattheis can I migrate the server package to go module instead of dep too? SInce it is already the preferred method in dependency management and I need to make sure that `gotify/plugin-api` and `gotify/server` are built with the same version of `gin`.

[2019-01-12 10:31] jmattheis commented on #51
@eternal-flame-AD Sure, I can do it too if you want.

[2019-01-12 10:34] eternal-flame-AD commented on #51
Alright. I will do it in my PR as it will also include documentation changes.

[2019-01-12 10:47] jmattheis commented on #51
I'd prefer that it would be a different PR as it is a separate change.

[2019-01-12 11:05] eternal-flame-AD commented on #51
Okay, so I will resolve the go module migration first.

[2019-01-14 19:13] jmattheis commented on #99
How to build gotify/server is described here: https://gotify.net/docs/dev-environment

Closing this issue for now.

[2019-01-14 19:13] #99 closed

[2019-01-15 14:39] #109 closed

[2019-01-15 15:10] monsieurpouet opened #113 "Proxy error with docker"
Hi,

Now, Gotify works in my docker container.
But, I've a reverse proxy with my apache2. Sadly, I've a 502 Proxy Error.
The is my VH:

[code]

Does anybody a idea ?

[2019-01-15 18:49] jmattheis commented on #113
Hey @monsieurpouet

is there any gotify/server log when you try to connect to gotify/server through the apache2 proxy?
This [serverfault answer](https://serverfault.com/questions/185894/proxy-error-502-reason-error-reading-from-remote-server-with-apache-2-2-3-de) suggests adding `Keepalive=On` to the ProxyPass parameters could you try this?

[2019-01-16 08:32] monsieurpouet commented on #113
I'm sorry, I had forgot some logs.
My Gotify Logs:

[code]

I put a KeepAlive directive in my conf file. But, I've same error.

[2019-01-16 08:38] eternal-flame-AD commented on #113
Looks like Apache send a plain HTTP request to the gotify TLS endpoint. Make sure you have set `GOTIFY_SERVER_PORT` to `2083` as shown on you apache configuration and set `GOTIFY_SERVER_SSL_ENABLED=false`

It would be good to post both your gotify config and apache config so that we can have a better overview of your configuration:)

[2019-01-16 10:33] eternal-flame-AD commented on #113
The `ports` should be `127.0.0.1:2083:2083`, as you should be connecting to port `2083` instead of `443` in your container.

Your docker-compose in whole should be:
[code]

[2019-01-16 10:39] eternal-flame-AD commented on #113
Started Listening on port 443
Started Listening on port 80

Also, according to your log, `gotify` is not listening on `2083` as your specified in `environments`. Maybe is there a `config.yml` file on `/etc/gotify` in your host system present that overrides the configuration?

[2019-01-16 10:40] monsieurpouet commented on #113
I wasn't far away ^^
It works now with your correction :D I'll test that with Android now (maybe, i'll be back :p)

![image](https://user-images.githubusercontent.com/3777059/51243676-707a8a80-1983-11e9-8372-e90969a8b337.png)

The update works just with docker pull ?

[2019-01-16 10:41] eternal-flame-AD commented on #113
Glad to hear you are up and running:)

Yeah it should work just by updating the container:)

[2019-01-16 11:11] monsieurpouet commented on #113
Android app work fine ! Bit i've some error "Bad request" in the app, and I have to refresh in the app to show the messages like my mail ahah :p

[2019-01-16 11:31] eternal-flame-AD commented on #113
Sorry I'm not very familiar with Apache but according to the documentation I guess this is what you need:

[code]

[2019-01-16 11:35] monsieurpouet commented on #113
Ohh, nice IndexOf hihi ^^
![image](https://user-images.githubusercontent.com/3777059/51246528-edf5c900-198a-11e9-8a33-7e2aef88b9d2.png)

And the push doesn't work now :/
Maybe, I need 2 lines about ProxyPass. One with stream and One with /

[2019-01-16 11:36] eternal-flame-AD commented on #113
Yeah you need both lines, one for proxying HTTP and another for websocket.

[2019-01-18 13:09] goofus commented on #99
I am having the same problem and frankly I can't get the compilation done. I am not that familiar with go, what I tried was:

[code]
and
[code]
I can't find any executable. The instructions on https://gotify.net/docs/dev-environment aren't enough for me to successfully compile and run the server.

[2019-01-19 15:37] eternal-flame-AD opened #114 "Allow swagger to be excluded from build"
I discovered that swagger UI is heavy in the final binary. I tried building without it and got the following results:

| Swagger + WebUI | Swagger Only | WebUI Only   | No User Interface |
|-----------------|--------------|--------------|-------------------|
| 39M             | 33M (-17.9%) | 28M (-28.2%) | 21M(-46.1%)       |

I think most people would not use the Swagger UI functionality, and a

[2019-01-20 11:04] jmattheis commented on #114
Good Catch.

I don't really like having multiple binaries with different features. I'd say we only have one optimized binary.

Currently a full swagger ui is shipped with gotify/server, we could only ship a html file with external dependencies like this: https://github.com/gotify/server/blob/0a32e86bcac4bc5471887dc0580a3b9442a5ebe1/docs/ui.go
This reduces the size of the swagger ui to 1.63KB.

Fut

[2019-01-20 14:09] eternal-flame-AD commented on #114
That is impressive. Maybe we can consider adding upx into release workflow.

[2019-01-21 18:58] jmattheis opened #117 "armv7 docker base image deprecated"
resin/armv7hf-debian is deprecated and should be replaced with something that's still maintained.

[2019-01-21 19:00] jmattheis opened #118 "Test upx and add it to the buildscript"
See https://github.com/gotify/server/issues/114 https://upx.github.io/

[2019-01-21 19:00] jmattheis commented on #114
For adding upx I've created #118. The rest should be fixed with #116.

[2019-01-21 19:00] #114 closed

[2019-01-23 20:41] webworxshop opened #119 "Actionable notifications"
This looks like a really cool project and something I've been looking for for a while.

Please correct me if I'm wrong on this but from the documentation it doesn't look like you support actionable notifications i.e. notifications containing one or two buttons underneath which perform the respective action when clicked.

An example use case of this is that my home automation system may send a noti

[2019-01-24 17:21] jmattheis commented on #119
Hey @webworxshop,

you're right, something like this doesn't exist. Currently links should already be clickable in the android app, so you could just add plain links to the message.

This could partly be fixed with adding markdown support to messages (https://github.com/gotify/server/issues/65#issuecomment-436912010) then it would be possible to add links with labels to the message.

Do you think

[2019-01-24 21:56] webworxshop commented on #119
Hi @jmattheis,

Thanks for your reply. Yes, having markdown support in messages, plus clickable links would give a mostly workable solution, but I foresee a couple of problems:

1. Links in the text are likely to be less user friendly to users already familiar with the action buttons used in Android notifications
2. Clicking the link would presumably open the URL in the default web browser. If the

[2019-01-25 04:37] eternal-flame-AD commented on #87
I'm afraid the biggest obstacle would be Apple's strict restrictions on background services. We cannot keep a persistent WebSocket connection in the background without abusing some APIs, which will absolutely disqualify the app from going onto the App Store and drain the battery significantly. Notifications could only be delivered through [APN](https://developer.apple.com/documentation/usernotific

[2019-01-25 05:08] eternal-flame-AD opened #120 "Support extra data in message"
Since gotify is not specifically designed for mobile notifications, and there are more and more requests on extending the message structure such as #63 and #119. A simple `message` field is a little too limited to process multiple kinds of messages.  I propose adding an extras field in the message struct in the next major version of gotify which is passed to the client, and the client would try to

[2019-01-25 11:17] eternal-flame-AD commented on #120
If you don't like adding fields to messages, here is an alternative with syntax =to go compiler directives: use specialized directives embedded in messages to provide extras:

For example, the message would look like:
[code]

Benefits:
- Less intrusive API changes
- More transparency to users
- <del>geeky</del>
Setbacks:
- Difficult to build complex directives(eg: with structured data)
- The parse

[2019-01-25 12:38] sik0vny commented on #120
This is definitely going into the right direction. Great stuff!

[2019-01-25 19:51] jmattheis commented on #87
Thanks for your insight @eternal-flame-AD. It sucks that iOS has such strict restrictions.

I'm closing this issue for now because gotify will not use any third party service to deliver messages.

[2019-01-25 19:51] #87 closed

[2019-01-25 20:07] jmattheis commented on #96
I'm closing this for now because I can't reproduce the problem.

[2019-01-25 20:07] #96 closed

[2019-02-02 12:06] #120 closed

[2019-02-02 19:55] artfulrobot opened #122 "Possible to run from behind reverse proxy to directory"
I have gotify running in docker on port 40001 and hoped to be able to use `https://mypublic.domain/gotify/...` to access it.

e.g. with this nginx config:

    location ^~ /gotify/ {
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_pass h

[2019-02-02 20:09] jmattheis commented on #122
Hey @artfulrobot,

yes, that should be possible.

[2019-02-02 23:07] monsieurpouet commented on #113
Everything work great now !
Thanks you. I've make a pull request for the configuration for apache2 =)
(my first pull request.. i assume^^)

[2019-02-05 15:02] eternal-flame-AD commented on #122
Maybe consider using relative root path for built ui files?
https://github.com/wmonk/create-react-app-typescript/blob/master/template/README.md#serving-the-same-build-from-different-paths

Also the gotify API base URL should be parsed in a different way to include the base path.

[2019-02-05 18:20] diegombeltran commented on #122
I'm on the same boat. Static files don't load. Is there an environment variable to tell Gotify which url/path should use?

[2019-02-05 19:07] jmattheis commented on #122
@diegombeltran Currently it is not supported.

[2019-02-06 00:00] wiebel commented on #79
This Feature is quite essential. Dropping dual stack is a non issue, as configuration behind a reverse proxy will fix it on one stack anyway, at least in amost cases..

[2019-02-09 11:52] #51 closed

[2019-02-09 11:52] #69 closed

[2019-02-09 16:59] #113 closed

[2019-02-10 18:53] jmattheis opened #126 "Gotify Community Chat"
Please share your thought on whether the Gotify project needs a community chat or not.
If yes, what chat platform would you prefer? Discord, Slack, Gitter, Spectrum or IRC?

[2019-02-10 18:54] jmattheis commented on #117
Removed in https://github.com/gotify/server/commit/df0d3162a8eddf4385fb9b8e5063e1dae1508cba

[2019-02-10 18:54] #117 closed

[2019-02-10 18:54] #44 closed

[2019-02-11 03:30] eternal-flame-AD commented on #126
I vote for slack:) A community chat is good for discussing ideas and obtaining feedbacks:)

[2019-02-13 16:53] #57 closed

[2019-02-13 17:47] #122 closed

[2019-02-14 16:42] sik0vny commented on #126
Lets use decentralized, open, federated Matrix protocol

An open network for secure, decentralized communication.
https://matrix.org/

[2019-02-17 18:20] jmattheis opened #129 "Add markdown support to messages"
gotify/android should also support markdown.

[2019-02-26 14:18] pm-pm opened #131 "[helpful] more detailed compile instructions needed"
I need for and old, but reliable!, server a 32bit linux version. The compileinstructions are to generic for people like me without deep compiling knowledge. ;-)
Please update the instructions and maybe create some usecases like "compiling on debian 9" or "compiling on win 7" or "compiling for rasbian"
I know that this is additional work on the one hand (once), but it would help to create more bina

[2019-02-26 14:46] eternal-flame-AD commented on #131
I'm afraid that at least you need to have an idea on these points to carry out a compile:
- how to install [go](https://golang.org/doc/install) or [docker](https://www.docker.com/)
- how to identify your machine architecture (32bit is not a specific architecture, armv6, armv7, x86, etc. are all 32-bit architectures)
- (if you need to compile with sqlite3 support) how to install (cross-)gcc on your

[2019-02-26 17:46] #31 closed

[2019-02-26 18:02] jmattheis commented on #131
I agree with @eternal-flame-AD. The user only has to install Go and Nodejs/NPM themself, this still requires some knowledge, but can mostly be done through tutorials that already exist.

[2019-02-26 19:53] jmattheis opened #132 "Release v2.0.0 todos"
- [ ] update build docker images to go 1.12 gotify/build
  - blocked because https://hub.docker.com/_/golang/ isn't updated yet
- [ ] Update GO_VERSION in gotify/server to 1.12
- [ ] Update and merge https://github.com/gotify/website/pull/6
- [ ] Adjust links in README
- [ ] Testing
  - [ ] Plugin Stuff
  - [ ] WebUI
  - [ ] Swagger UI
  - [ ] CLI
- [ ] Increment API Version in https://github.com/

[2019-02-27 15:41] eternal-flame-AD opened #133 "statically linked binary"
Currently, the provided executable is dynamically linked and will refuse to start on machines with obsolete GLIBC versions. Since we are not using sqlite3 extensions, it is still possible to produce a statically linked build with no dependency on GLIBC except for the plugin functionality.

I have tested the following command which successfully compiled a statically linked binary with GLIBC 2.28 wh

[2019-02-27 16:26] jmattheis commented on #133
Are you sure? The docker image has GLIBC 2.24, or am I looking at the wrong place?
[code]

A real statically linked binary seems like a good idea, we could release both a dynamically linked binary with plugin support and a statically linked binary for compatibility and older systems.

[2019-02-27 16:41] eternal-flame-AD commented on #133
Yes, all docker build environments have GLIBC 2.24. Previous releases built on travis environment has 2.28.

[2019-03-01 01:28] eternal-flame-AD commented on #132
You need to specify `1.12` instead of `1.12.0`. Gimme matches the version as shown in the [release page](https://golang.org/dl/)

[2019-03-01 15:25] jmattheis commented on #132
@eternal-flame-AD Yeah, got it working yesterday too (https://travis-ci.org/gotify/server/builds/500002281#L480) it sucks that it has different versioning than the docker images :(.

[2019-03-01 16:02] eternal-flame-AD commented on #132
Yeah, that was unexpected, they used to follow the release versioning, but not this time. Maybe we would need to make GO_VERSION a json file which includes both the docker tag and the release version string, and use `jq` to obtain the result.

[2019-03-01 16:20] jmattheis commented on #132
I guess it was always like this, in Docker 1.11 is actually the most recent 1.11 version so 1.11.5. With this we just need to omit the last `.0` from the version when using gimme.

[2019-03-01 16:41] eternal-flame-AD commented on #132
It wasn't like this in 1.10. Never mind, maybe they changed their mind in naming patterns for tags. We can strip or add the trailing  .0 manually.

[2019-03-01 17:12] jmattheis commented on #132
@eternal-flame-AD
I've thought of gotify/plugins like a metadata plugins repository, now I think it is a little overkill. I want a place where plugins and also other stuff like chrome extensions could be listed. It should be like an awesome list. What do you think of an awesome list like repo for gotify could be gotify/contrib where plugins,chrome extensions, tutorials, etc could be listed?

[2019-03-01 17:18] eternal-flame-AD commented on #132
That would be nice. Should it has its own website, or just a compiled list as a Markdown file?

[2019-03-01 17:21] jmattheis commented on #132
I'm unsure, I guess we start with a markdown file and see if there is demand for it. What do you think is better?

[2019-03-01 17:24] eternal-flame-AD commented on #132
I also prefer the simplicity of a simple markdown list to a whole website, especially when there are not many items there. We could consider upgrading it to a website after we collected a relatively substantial amount of items.

[2019-03-03 16:08] mahescho opened #137 "Can't get reverse proxy working / Configuration question"
Hi,

I've setup Gotify without Docker with the Apache revers proxy config posted in documentation. The web interface works but web sockets doesn't. The client gets "internal serer error". This is what I see in the Android client log. Mod "proxy_wstunnel" is enabled. When I try to push a message by curl nothing happens at all. The message is not visible in the web UI. How to get this rolling?

What

[2019-03-03 16:31] jmattheis commented on #137
Hi @mahescho,

Could you add your gotify and apache configurations? Does the request that caused an "internal server error" have something inside its response? Is there any log outputted by gotify/server? It should be looking like this:
[code]

With stream.allowedorigins you can allow third party websites to use the web socket. F.ex gotify/server runs on gotify.example.org and you want to access t

[2019-03-04 06:28] mwild1 commented on #126
Another vote for an open protocol. I feel it would be more in line with the project's spirit and audience. The recent trend of open projects all using different proprietary chats that require me to keep browser tabs open or install memory-hungry closed-source clients is intensely frustrating.

XMPP, Matrix or IRC are all sensible options. Exactly which one doesn't matter too much, as they all have

[2019-03-04 06:40] mwild1 commented on #63
I'm going to put in a contrary opinion... I don't think E2E is within the scope of a simple application like this. I already have an XMPP client with E2E, you mentioned Matrix too. Just send your notifications over these instead if your data is sensitive and you are so worried about interception by the server. Otherwise gotify would be essentially just recreating them.

[2019-03-04 07:09] mwild1 commented on #120
Is the schema here implying that only Android clients would/should implement actions? My desktop notifications also support actions, for example.

In fact there is already a standard for such notifications, maybe it could be borrowed? E.g. take a look at this implementation: https://www.npmjs.com/package/freedesktop-notifications

Lots of info about the ecosystem here: https://wiki.archlinux.org/i

[2019-03-04 10:29] mahescho commented on #137
Apache Config:
`
<VirtualHost *:443>
        ServerName msg.domain.link

        SSLEngine On

        ProxyPass "/stream" ws://127.0.0.1:8080/ retry=0 timeout=5
        ProxyPass "/" http://127.0.0.1:8080/ retry=0 timeout=5
        ProxyPassReverse / http://127.0.0.1:8080/
        ServerSignature Off
        Keepalive On
        CustomLog /var/log/apache2/push_access.log combined
        ErrorLog

[2019-03-05 19:01] jmattheis commented on #137
Looks like the proxying for the stream endpoint doesn't work. This:
[code]
should look like this:
[code]

Currently I've no apache server running, will (probably) try it out tomorrow when I find time for it.

You could try out:
[code]
but not sure if it will work.

[2019-03-05 19:03] jmattheis commented on #120
@mwild1 Looks good, if there is a standard for it then gotify should use it.

[2019-03-06 07:35] mahescho commented on #137
Getting better. Now at least the web interface works as expected an messages get displayed. But the Android app still does not show any message.

Log when I reload in the Android app:

    ==> /var/log/apache2/push_access.log <==
    [06/Mar/2019:08:31:31 +0100] "GET /current/user HTTP/1.1" 200 4094 "-" "okhttp/3.12.0"

    ==> /var/log/syslog <==
    Mar  6 08:31:31 m01 gotify-linux-amd64[25235]:

[2019-03-06 13:43] pm-pm opened #138 "Reverse proxy usage still not working with subpath in url (still static URL in code?)"
Still the webinterface is not working (white page) in reverse proxy konfiguration when you use a SUBPATH in URL like "https://mydomain.com/gotify"
Looks like "/static/..." and maybe some other pathes have still leading "/"
[code]
[code]

[2019-03-06 13:48] pm-pm commented on #138
Adding this rewrite statement (as workaround) in apache configuration it is possible to see (open) the webinterface, but it is not possible to login.

[code]
[code]

[2019-03-06 19:05] jmattheis commented on #138
Are you using the newest gotify version?

[2019-03-06 19:19] jmattheis commented on #137
Is there any log in the Android app? It is the last entry in the navigation drawer.

[2019-03-06 19:31] pm-pm commented on #138
Yes i do.
As a remark: In the last version (1.2.1) i needed about 10 redirects for only accessing the web interface (due to static path), in this version (2.0.1) at least one redirect is necessary to access the web interface. (But in both cases working was not possible)

From my point:
Using gotify in this way as subdomain "https:||**gotify**.mydomain.com" could/should work, but using as subpath "

[2019-03-06 19:43] jmattheis commented on #138
With the following config it works for me:
[code]
full httpd.conf: https://gist.github.com/jmattheis/46028237ff00f6b78415a52ac482208c

I used the httpd docker container with docker compose:
[code]

[2019-03-06 20:08] mahescho commented on #137
Plenty after first login, mainly Java stack traces. When I kill the app and restart it a few websocket reconnections get logged. And then no further log entries. I found no way to grab the log to paste it here.

[2019-03-06 20:09] pm-pm commented on #137
Hardcopy? ;-)

[2019-03-06 20:19] jmattheis commented on #137
Yeah, a screenshot would be good :).

[2019-03-06 20:20] mahescho commented on #137
Well ... at login a two page stack traces every 2 seconds ... let's see how I can manage to do screenshots of that. An other idea: put the mobile on a photocopier, then scann the print and post it ...

[2019-03-06 20:24] mahescho commented on #137
Next I will try to use an other device but this will take a few days. Perhaps my Moto Z 3 is the problem.

[2019-03-06 20:31] jmattheis commented on #137
You could also use adb if you have the android dev tools installed:
[code]
You got mail (:.

[2019-03-06 20:39] pm-pm commented on #138
Thanks for verification!
I am checking in detail later. Maybe a trailing "/" in browser address bar causes the confusion.

[2019-03-06 20:46] jmattheis commented on #138
Yeah probably. see here https://github.com/gotify/server/pull/127#discussion_r255595404 we should document that behavior.

[2019-03-07 18:02] jmattheis commented on #126
Okay, I've created a matrix.org chat room. You can (hopefully) join here
https://matrix.to/#/#gotify:matrix.org

[2019-03-07 19:41] pm-pm commented on #138
Collected information from me:

**1. Version**
apache conf:
[code]
Edge Browser and Firex 65 same result:
[code]
Without trailing "/" some parts of the website are already loaded, so we are on a good way. ;-)

**2. Version**
apache conf now:
[code]
Edge Browser and Firex 65 same result:
[code]
More problematic response. No good idea.

To **avoid** an additional rewrite rule and avoid syntax errors

[2019-03-07 23:40] pm-pm commented on #79
The reverse proxy issue is almost solved. :-) Thanks.
It would be nice to bind the Server to IP "127.0.0.1" or "localhost". I do not see the binding to another IP as necessary.

[2019-03-08 07:10] dugite-code commented on #96
I've encountered the same error and believe I have found myself solution. It looks like it might have something to do with the keep `proxy_read_timeout` and `proxy_send_timeout`. I've changed it to a whole day but I plan to crank it down to test where it actually needs to be.

My nginx config:
[code]

[2019-03-08 07:39] #126 closed

[2019-03-08 08:40] #79 closed

[2019-03-08 10:04] jmattheis commented on #138
When using your config from version 2:

Then apache outputs errors, this is not the fault of gotify:
[code]

No. Like said in https://github.com/gotify/server/pull/127#discussion_r255595404 it is currently only supported with having trailing slashes.

Yes.

You don't need mod rewrite, it could be done with a redirect from `/gotify` to `/gotify/`.
[code]

@eternal-flame-AD What do you think, should

[2019-03-08 10:07] jmattheis commented on #96
See also https://github.com/gotify/server/issues/82 in there `proxy_read_timeout` and `proxy_send_timeout` where mentioned too.

[2019-03-08 10:13] eternal-flame-AD commented on #138
Did I get this right? So if we need to support URLs without the trailing slash, we need to do the following step to obtain the base path:
1. Check if the URL ends with index.html, if yes, remove it.
1. Check if the URL ends with a trailing slash. If no, add it.

To be frank, I am still in favor of a redirect on the reverse proxy side, as it is more in accordance with the standards of URLs.

[2019-03-08 11:08] jmattheis commented on #138
Yeah, right.
I guess it is not that easy to accomplish too. The UI imports js and css files via `./static/*`, we'd have to dynamically load these files depending if a trailing slash is present.

Having a redirect on the reverse proxy seems like the best option.

[2019-03-08 11:14] eternal-flame-AD commented on #138
I agree. I am not very familiar with Apache, but it seems that a lot of people are using that and encountering problems. Maybe we need to write a working configuration and post it on the documentation.

[2019-03-08 12:46] eternal-flame-AD opened #141 "gotify logo licensing"
I did not find the licensing information for the gotify logo.

Say I want to make a electron/native app for gotify, am I allowed to use the gotify logo, and to what extent, how should I provide attribution information?

[2019-03-08 13:12] pm-pm commented on #138
Hello. [small] I don´t like the idea. [/small] ;-)
Please keep reverse proxy configuration in 3rd party products (like apache) as simple as possible. Especially "mod_rewrite" can cause many problems/questions to users.

Please have in mind that you might have many reverser configuration in one apache server config. Adding rewrite statements can cause trouble to other services.
[code]
BTW: I do not

[2019-03-08 13:28] jmattheis commented on #141
Good question, I'm thinking of using the "CC by attribution" license https://creativecommons.org/licenses/by/4.0/
what do you think?

[2019-03-08 13:47] eternal-flame-AD commented on #138
Firstly, there would be five possible URL to base URL combinations if we support URLs without trailing slashes. I can't think of a better way to support all these five URL patterns than the one I mentioned above.
- `//mydomain.com/` -> `//mydomain.com/`
- `//mydomain.com/index.html` -> `//mydomain.com/`
- `//mydomain.com/some/path` -> `//mydomain.com/some/path/`
- `//mydomain.com/some/path/` -> `/

[2019-03-08 13:51] eternal-flame-AD commented on #141
That's awesome:)

This is a relatively free and permissive license, which permits others to directly use the gotify logo as their project logo as long as they provide attribution to you. If you don't like this behavior, you can add an additional requirement here.

[2019-03-08 14:13] eternal-flame-AD commented on #138
Still, my apologies for not providing a working apache configuration on the documentation upgrade. I have to admit that I know basically nothing in how to configure apache so I did not sort this out. @jmattheis what about adding the final configuration to the documentation after this issue is resolved?

[2019-03-08 14:36] jmattheis commented on #141
The CC faq states that it shouldn't be used for logos

https://creativecommons.org/faq/

But I still think this is the right license.

[2019-03-08 14:38] eternal-flame-AD commented on #141
Okay, it's just a reminder:)

If you don't bother other's potentially using this as their project logos, I would say that this license is suitable.

[2019-03-08 14:53] jmattheis commented on #141
See https://github.com/gotify/logo

[2019-03-08 14:53] #141 closed

[2019-03-08 15:36] jmattheis commented on #138
Yeah. I've opened https://github.com/gotify/website/pull/7 @pm-pm could you have a look at it and verify that this is working for you?

[2019-03-08 17:57] pm-pm commented on #138
Yes ist working fine. :-)
Comment left on the other page.
Thanks!

[2019-03-08 19:01] pm-pm opened #142 "Errormessage on server "404 /favicon.ico" but everything looks fine."
On the online Server log there is always:

`[GIN] 2019/03/08 - 19:54:48 | 404 |      94.415µs |   195.111.111.111 | GET      /favicon.ico`

From my point the favicon is visible on the tab of the browser. Everything Looks good.
What does this error message mean? Can i (re-)place an own favicon anywhere?

[2019-03-08 19:21] jmattheis commented on #142
In gotify/server there is no reference to `/favicon.ico`. My guess is that your browser is trying to get a favicon without having the index.html loaded.
[code]

[2019-03-09 07:34] #138 closed

[2019-03-09 21:48] canDry opened #143 "32 bit linux binary?"
Was hoping to install this on an old 32bit home automation server running debian.

[2019-03-09 22:16] verygoodsoftwarenotvirus opened #144 "Add selfhosted tag to repository"
Given that the server is built around being self-hostable, I think it would make sense to add this tag so the server can be visible among [the community](https://github.com/topics/selfhosted). :)

[2019-03-09 22:53] oxodao opened #145 "Some characters do not work (password)"
Hi,

Using a password manager which generated this password: "3F7ßx[Zy[0ô_<5/MÃd&l"
I couldn't login after I've set it (both on the web ui and the android app)
Fortunately I was still logged in so I changed it back to something with less weird characters and I could log back in again.

If you just don't want to bother supporting those kind of characters, maybe you should tell the user when the pas

[2019-03-10 02:18] eternal-flame-AD commented on #145
Thanks for the issue:) I am able to reproduce the problem and is investigating on it.

[2019-03-10 02:22] eternal-flame-AD commented on #143
32bit is not an architecture. We do have arm-7 official builds, which is a 32-bit architecture. See [this](https://github.com/gotify/server/issues/131#issuecomment-467465742) or google "linux find architecture" to know how to find the architecture of your server.

You can also e-mail me for a built artifact as is described in that comment.

[2019-03-10 04:12] canDry commented on #143
Sorry for not being clear... I meant for “i386” architecture.

[2019-03-10 04:47] eternal-flame-AD commented on #143
@jmattheis do you think we should add this as a target for official build?

Still, you could compile your gotify for your platform yourself through the documentation [here](https://gotify.net/docs/build) you will need `GOOS=linux GOARCH=386` as the target.

[2019-03-10 05:42] canDry commented on #143
Bah... so I tried cross compiling on a virt machine... default/available versions of go and node were behind the requirements.. so had to get newer versions.  Got as far as the ui build and npm just dies with many errors.

[2019-03-10 06:00] eternal-flame-AD commented on #143
You can use the [gotify/build](https://github.com/gotify/build) docker image.

[2019-03-10 06:14] eternal-flame-AD commented on #143
Here I can provide you with a built artifact:)
[code]

[gotify-server.gz](https://github.com/gotify/server/files/2949111/gotify-server.gz)

[2019-03-10 06:18] jmattheis commented on #144
Good idea! Thanks.

[2019-03-10 06:18] #144 closed

[2019-03-10 07:10] jmattheis commented on #143
Yeah, we should add a build target for i386

[2019-03-10 07:32] canDry commented on #143
You're a saint.  :)
Unfort it wants IPv6 and being and older system/router it only supports IPv4.  LOL!!
I really do appreciate your effort though.

[2019-03-10 08:07] eternal-flame-AD commented on #143
You need a [configuration](https://github.com/gotify/server/blob/master/config.example.yml) file to tune server behavior(such as listening address, port, etc.)

Download the file as `config.yml` to your server directory and modify `listenaddr` and `port`.

[2019-03-10 08:12] #145 closed

[2019-03-10 10:22] jmattheis commented on #143
linux i386 is now included into our build pipeline. You can download the binary here:
https://github.com/gotify/server/releases

[2019-03-10 10:22] #143 closed

[2019-03-10 14:38] dazzag24 opened #148 "How to use letsencrypt option"
Hi,

Really interesting project!  So thanks for uploading.  I'm trying to set it up on a low cost scaleway.com instance.  Its works in HTTP mode, but I'm stuck on getting the letsencrypt config to work.

Relevant changes to my config file:

[code]

Output from running gotify:

[code]
it looks as if the challenge is attempting to connect to port 80 (which is already being used by another process) w

[2019-03-10 14:42] pm-pm commented on #143
Thanks also from my side! :-)

[2019-03-10 15:25] jmattheis commented on #148
It is likely as you said and letsencrypt only looks on port 80. I think it is not possible to authenticate with let's encrypt on a non default port (80)

[2019-03-10 15:36] SuperKingZ opened #149 "2.0.2 Docker : Websocket: request origin not allowed by Upgrader.CheckOrigin"
After starting a clean 2.0.2 docker 8030:80 container I get this error in the terminal when I login.  I didn't experience this error in 1.2.0

[code]

[2019-03-10 15:59] eternal-flame-AD commented on #149
I ran over the history and found https://github.com/gotify/server/commit/b5b2f19dc2ed19165615719d49b9ad8919537476 to be related to the issue. Seems that it is comparing a host with a port number with a host without a port number. I will send a PR for a fix. Thanks.

[2019-03-10 16:27] eternal-flame-AD opened #151 "Definitions of reserved extra data namespaces."
We [reserved](https://github.com/gotify/server/blob/6e92bcd8e5f4e09a5f01a1d3dbf8d6c4765d5658/model/message.go#L55) some top-level extra namespaces for gotify official use. The reserved namespaces include `gotify` `android` `ios` `web` `server` `client`.

We need to reach an agreement on how to use these namespaces before we sharting to code detailed implementations.

Firstly,
- `server::*` should

[2019-03-10 16:31] c-mueller opened #152 "Subscribing to incoming messages from a plugin"
I was thinking about writing a plugin to send a E-Mail containing a receieved notfication, but the current APIs exposed to plugins do not seem to support the subscription to incoming messages. I.e. it is not possible to have a plugin act as a client. At least that's what I'm concluding from your docs.

I therefore want to ask if such a feature is planned for the future.

[2019-03-10 18:38] pm-pm commented on #149
This is not only a docker issue. v2.0.2 accessing with FF 63

[code]
Token ist the token of the webbrowser. When Firefox is logged out there is no error
The android client does not raise such an error.

[2019-03-10 20:28] canDry commented on #143
Thanks for the awesomely quick response!

[2019-03-10 23:54] eternal-flame-AD commented on #149
Yes, it is a bug in the code for verifying connection origin of websocket connections. So it would affect all browser use cases.

[2019-03-11 02:57] GalvinGao commented on #132
We might want to use a small script-like file to update the `README.md` file when each time the branch receives a push. Some ideas here:
- using `WebHook` which might require an external server
- using `GitHub Actions` but I'm not sure this is the case
- using `Travis-CI`

[2019-03-11 05:09] mskian opened #153 "Setup in Lamp Server"
Hi,
I Just install this on Lamp server via Docker Image
some live sites are there

while running this below command

[code]

I got this below errors

[code]
[code]

[2019-03-11 05:19] eternal-flame-AD commented on #153
Seems like a docker issue, the docker daemon is having difficulty setting up port forwarding? I tried your command both on my machine and play-with-docker, neither way did I successfully reproduce the error.

BTW, the docker image defaults to listen on port 80 in the container. So if you want to expose this at 8080 on your host machine, you need to use `-p 8080:80` or specify a [custom configurati

[2019-03-11 05:22] eternal-flame-AD commented on #153
Would you please provide some context on when the two errors you provided has shown up? Did you see the gotify version information show up before these errors or something else happened? Please provide a transcript of what happened on the terminal between the docker run command and the final error.

[2019-03-11 05:26] mskian commented on #153
@eternal-flame-AD

docker run -p 80:80 -v /var/gotify/data:/app/data gotify/server

[code]

`config.yml` we need to create this manually ?

[2019-03-11 05:31] mskian commented on #153
After changing the port to `8080:80`
but currently, I access it via <MYSERVERIP>:8080
while login I get this error
[code]

[2019-03-11 05:31] eternal-flame-AD commented on #153
If you want to define custom behavior you can create it manually, but it should not fail to start without a config file.

I am pretty sure that it is a docker problem. Check these: `(I) port 80 on your host machine is not already in use (II)your docker daemon is run as root `. If it all seems fine, I think you will need to ask for help in the docker community:)

[2019-03-11 05:34] eternal-flame-AD commented on #153
This is a known issue and will be fixed in #150. Current workaround is to set an environment variable to explicitly allow the origin of your websocket request:

[code]

[2019-03-11 05:37] mskian commented on #153
how to run this permanently on the server

[2019-03-11 05:39] eternal-flame-AD commented on #153
What does "this" refers to? You mean to start gotify on device startup or keep the environment variable persistent?

[2019-03-11 05:40] mskian commented on #153
means run permanently on the domain push.example.com

[2019-03-11 05:46] eternal-flame-AD commented on #153
You can refer to [this](https://docs.docker.com/config/containers/start-containers-automatically/#restart-policy-details) docker documentation on how to keep your container running. I think `--restart always` is what you want:)

[2019-03-11 06:17] mskian commented on #153
How to Validate Let's Encrypt currently my port is `8080`

[2019-03-11 06:19] eternal-flame-AD commented on #153
See the description in #148, you need to expose port 80 directly to use LE.

I recommend joining the [community chat](https://matrix.to/#/#gotify:matrix.org) for detailed help on server setup, configuration, etc.:)

[2019-03-11 07:27] mskian commented on #153
I am Successfully setup site working on both www and non-www

non-www conf

`example.conf`

[code]

`example-le-ssl.conf`

[code]

My Gotify configuration

[code]

Everything this working perfectly including SSL
but I need Help in Docker to run this forever

[2019-03-11 07:34] eternal-flame-AD commented on #153
[this](https://github.com/gotify/server/issues/153#issuecomment-471411717) does not work?

[2019-03-11 07:36] mskian commented on #153
@eternal-flame-AD please give a full command lines to activate

[2019-03-11 07:37] eternal-flame-AD commented on #153
docker run -p 8080:80 -e GOTIFY_SERVER_STREAM_ALLOWEDORIGINS="- \".your.server.tld\"" --restart always -v /var/gotify/data:/app/data gotify/server

[2019-03-11 07:39] mskian commented on #153
` GOTIFY_SERVER_STREAM_ALLOWEDORIGINS="- ".your.server.tld""`
this line confused replace with my domain?

[2019-03-11 07:40] eternal-flame-AD commented on #153
If you have already resolved the SameOrigin problem, this is not needed.

[2019-03-11 07:42] mskian commented on #153
For test I run
[code]
while login i got this too

[code]

[2019-03-11 07:49] eternal-flame-AD commented on #153
Have you replaced ".push.example.com" with your own hostname?

[2019-03-11 07:50] mskian commented on #153
yes In android app no error in web got that WebSocket connection issue

[2019-03-11 07:50] mskian commented on #153
is `config.yml` will automatically be created or we need manually create them?

[2019-03-11 07:55] eternal-flame-AD commented on #153
It will not be automatically created, and it is not the intended way to configure gotify when you are running it in a docker container. If you wish to use `config.yml`, create it in your working directory and start the container with
[code]

[2019-03-11 09:32] mskian commented on #153
[code]

don't know how to Fix this
2 hours trying not an proper solution

[2019-03-11 09:36] eternal-flame-AD commented on #153
Since you are running nginx for reverse proxy, try this:
docker run -p 8080:80 -e GOTIFY_SERVER_STREAM_ALLOWEDORIGINS="- "127.0.0.1:8080"" -v /var/gotify/data:/app/data gotify/server

[2019-03-11 09:38] mskian commented on #153
using apache proxy

[2019-03-11 09:41] eternal-flame-AD commented on #153
Oh yeah that's my typo, still, I recommend you try that. Maybe apache rewrote the origin field. Try this:

docker run -p 8080:80 -e GOTIFY_SERVER_STREAM_ALLOWEDORIGINS="- "127.0.0.1"\n- "push.example.com"" -v /var/gotify/data:/app/data gotify/server

[2019-03-11 10:25] mskian commented on #153
[code]
How to fix this?
still, I got this
try many apache proxy configurations

[2019-03-11 11:12] mskian commented on #153
main.c32a75b1.js:1 WebSocket connection to 'wss://push.example.com/stream?token=C2_HTINOMADk8K.' failed: Error during WebSocket handshake: Unexpected response code: 200

browser console log error

[2019-03-11 11:14] eternal-flame-AD commented on #153
Did you see any log outputs from the server?

[2019-03-11 11:25] mskian commented on #153
Fixed that Issue by adding this Below Rewrite rule on SSL Conf file

[code]

Here are the Correct Server Configuration for Apache Proxy

`example.conf`

[code]

`example-le-ssl.conf`

[code]

[2019-03-11 11:28] eternal-flame-AD commented on #153
Thanks:)

@jmattheis Do you have any idea on why we need to explicitly rewrite HTTP Upgrades? The official configuration does not seem to include this directive. Maybe it is only needed in a TLS reverse proxy?

[2019-03-11 11:28] mskian commented on #153
But Still, I did not get the proper solution to running this docker image forever

[2019-03-11 11:29] eternal-flame-AD commented on #153
Didn't adding flag `--restart always` to the docker run command work?

[2019-03-11 11:31] mskian commented on #153
@eternal-flame-ADI got the solution from here - https://serverfault.com/a/846936 to fix `WebSocket connection closed` error

[2019-03-11 11:33] mskian commented on #153
@eternal-flame-AD
I Run this
[code]
but how to kept this command run forever still goes down while `CTRL+C`

[2019-03-11 11:36] eternal-flame-AD commented on #153
Okay now I knew that you mean. Just add flag `-d` to your docker run command to detach container from tty automatically. `--restart always` is to restart container automatically whenever it stops.

[code]

[2019-03-11 11:44] mskian commented on #153
Perfect working :100:

[2019-03-11 13:44] pm-pm opened #154 "Problem with Edge browser and reverse proxy configuration"
I have a strange problem.

I can "not" login with Edge (W10) and proxy configuration. I will be logged out after less than a second.

[code]

For a very short moment you can see a login and than you are back in the login screen.

*1 No proxy at all
*2 Apache Reverseproxy configuration as advised.
[code]
![ge](https://user-images.githubusercontent.com/47995430/54128093-92d0d780-440b-11e9-83ef-4479b

[2019-03-11 13:51] eternal-flame-AD commented on #154
When you say edge browser, did you mean that the problem only happens on Edge or you only tested on Edge?

[2019-03-11 13:52] eternal-flame-AD commented on #154
The fix for check origin problem is pending in #150. Current workaround is to explicitly allow your gotify hostname in the websocket allowedorigin configuration.

[2019-03-11 14:07] pm-pm commented on #154
The "CheckOrigin" problem is not the issue here. I just left the line it in for completeness. Or is this the key point?? In all other cases i have no problem to access the gotify server.

I tested all 4 cases on the same W10 computer. See above. With Firefox 65 no problem to access non-proxy and proxy gotify server. With Edge browser only access to non-proxy gotify server was successful.

Could yo

[2019-03-11 14:12] eternal-flame-AD commented on #154
Yeah I don't think this is related to the websocket problem then.

The reason of "::1" requests are a little ambigous and I cannot guess where it could came from. Can you collect some info from the edge [network](https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide/network) data, which might provide some insights to the issue on which request failed led to the client to logout? Thanks.

[2019-03-11 14:33] #153 closed

[2019-03-11 15:00] pm-pm commented on #154
I have "recorded" the networktraffic with dev tools for login. how can you transfer that trustingly? ;-)

[2019-03-11 15:10] eternal-flame-AD commented on #154
Thanks for the follow-up:) You can send me an e-mail. The email address is ef@eternalflame.info, as indicated in my account. You can also optionally PGP encrypt your email using the key in [this](https://keybase.io/eternal_flame) keybase account.

[2019-03-11 15:22] pm-pm commented on #154
Done. :-)

[2019-03-11 15:35] eternal-flame-AD commented on #154
You've got mail:)

[2019-03-12 00:47] pm-pm opened #156 "What is the sense behind the text on the first screen?"
The link binhind "All messages" is not valid before login and the Text "Some Server \ A Raspberry PI" i do not understand.
Maybe no text or a link to github would be better?

![firstscreen](https://user-images.githubusercontent.com/47995430/54167036-37810280-4468-11e9-96e7-f07396fe0194.png)

[2019-03-12 00:57] eternal-flame-AD commented on #156
It's a placeholder for applications when you have not logged in.

[2019-03-12 03:28] eternal-flame-AD commented on #131
@pm-pm It has been 14 days since the last activity of this issue. Has the issue been resolved, or do you have any further question? Thanks for your feedback.

[2019-03-12 08:30] furyfire opened #158 "Simple "plugin" framework using templates *feature*"
Since the Go language natively support a fairly advanced template engine why not allow for "plugins" to be created using templates alone?

https://push.example.de/message?token=<apptoken>&template=github-webhook

Gotify would then parse the incomming JSON and apply the "github-webhook" template.

This would allow for an easy way of using webhooks and quickly parsing out one or two fields.
Just my

[2019-03-12 08:38] eternal-flame-AD commented on #158
I think instead of having built-in support for that, we can actually write a plugin to do that:)

We can accept [text/template](https://godoc.org/text/template) to parse HTTP header/body and transfer it to a formatted language. Golang text/template has a relatively lightweight syntax and is easy to get on:)

[2019-03-12 08:56] furyfire commented on #158
Glad you agree
It feels like overkill having to write a separate plugin for every webhook there is. And currently there is no way of making gotify accept a randomly formatted json object

[2019-03-12 09:05] eternal-flame-AD commented on #158
@jmattheis Do you think we should have a built-in plugin template engine?

[2019-03-12 09:11] eternal-flame-AD commented on #158
@furyfire Actually we don't need to do so. We can write a single plugin that listens on different URLs for messages, and use different predefined or custom templates to format messages from arbitrary json/plain object.

[2019-03-12 09:39] KossaKo commented on #102
I wrote a section on how to register as service on Debian based systems and send a pull request (which I apparently cannot reference here as it is in the "website" repository).

[2019-03-12 12:54] joy4eg opened #159 "Link to the main page"
Hey there, thanks for the great app!

From my point of view, clicking on `gotify` should redirect to the main page `/`, and not to github.
(Yes, I saw `all messages`, but from UX side it's a bit confusing)
We can add a separate button to the header/footer like `about` which will do the same thing :)

![image](https://user-images.githubusercontent.com/878385/54201332-08a17580-44d6-11e9-8f39-873a9e8

[2019-03-12 12:57] eternal-flame-AD opened #160 "Use cryptographic random source for token generation"
[math/rand#Seed](https://godoc.org/math/rand#Seed), as is indicated on godoc, only provides at most 31 bit of randomness, which is really not a good choice for generating tokens.

I also want to propose newly generated tokens to be longer, now it has about 78 bits, which is not ideally secure from my point of view.

[2019-03-12 13:23] pm-pm commented on #160
Is is necessary for this kind of tool? Normally agree, but here i think it is sufficient.

[2019-03-12 13:25] pm-pm commented on #154
Problem still exists. Windows 10 Edge Browser with Apache reverse proxy setup is the problem. The other combinations work. See above. Any proxys in between don´t matter.

[2019-03-12 13:33] eternal-flame-AD commented on #160
It has only around 2e+9 possible states, so it is relatively cheap to enumerate basically every possible state.

I wrote a simple benchmark to simulate enumerating every possible state and generating the first 20 tokens, it is really incredibly fast.
[code]
[code]

It only took 8878ns per state on my i7-6700HQ processor, which is not a very modern and performant one, I did some simple math and it

[2019-03-12 13:58] eternal-flame-AD commented on #160
Just verified that the generated token can really be predicted. The number of states is a little too large for a random attack over the Internet. However, the potential issue is if I could obtain a token with only application/user privilege, I would be able to reversely calculate all tokens generated by the server on the same run which might include tokens with admin privileges.

[2019-03-12 14:00] eternal-flame-AD commented on #154
Have you got my e-mail reply in which I thought there might be a problem in your windows proxy configuration and tried to connect directly first?

[2019-03-12 14:05] pm-pm commented on #154
Yes. :-) I have answered you already.

[2019-03-12 14:14] eternal-flame-AD commented on #154
Sorry to bother but I just want to make sure that we are not discussing on the same problem. Yesterday, when you collected the HAR file, I suspect your Edge browser has HTTP proxy(the browser front proxy, which could be configured in the windows internet options, not the Apache reverse proxy) enabled because the HAR file you sent me includes a lot of CONNECTs.  I sent you an e-mail suggesting you

[2019-03-12 14:34] pm-pm commented on #154
You don´t bother me. It is maybe a misunderstanding on my side. Sorry.
Yes. First har File include the way via a proxy server. Second har file is **without** forward proxy.

From my point the forward proxy was/is NOT the problem. To be sure i did the test without the forward proxy and recorded the second har file. The problem still exists.

[code]

This still works:
[code]

Is this helpful?

[2019-03-12 14:43] eternal-flame-AD commented on #154
Sorry, then I have to apologize that I just inspected the first HAR file, I did not see there is a second one.
Would you please send me the other one without forward proxy again, cuz that would be more helpful as communication with the forward proxy does not get mangled with real communication to gotify?

[2019-03-12 15:13] pm-pm commented on #154
I have send you the second har file again. it was recorded without any proxy, but the problem is still the same.

[2019-03-12 16:03] eternal-flame-AD commented on #154
Sorry but I did not get your e-mail:( Did you type the e-mail address right? If yes, last time your e-mail went into the spam box directly, though I did not see your e-mail in my quarantine list also, maybe you need to check your e-mail domain on DNSBL, etc.

[2019-03-12 16:37] pm-pm commented on #154
"If you have trouble, the next trouble is not far away" :-(

it looks like my mail provider has had problems since yesterday. let's wait a few hours. i've already sent them 2 times and at the moment he's not available. Please excuse this.

[2019-03-12 16:40] eternal-flame-AD commented on #154
If you know PGP you can also post the file encrypted with PGP to me here:) My [key](https://keybase.io/eternal_flame). Or you can also find me in the community chat:)

[2019-03-13 10:05] furyfire commented on #160
What about limiting the range of characters in the process?
I do not like the use of anything besides [a-zA-Z0-9] since it makes it hard to separate GET parameters in the URL.
Maybe use md5 or sha hashing?

[2019-03-13 10:16] eternal-flame-AD commented on #160
I am not very bothered by this though. It is easy to change the character set but I don't really see the need for that:(

If you really wanted that please create a new issue and we would wait for other user's opinions on whether to make the change:)

[2019-03-13 14:30] pm-pm commented on #142
Yes the favicon is loaded and visible on browser tab.
Just the errormessage is irritating.

[2019-03-13 14:32] pm-pm commented on #131
From my point we can close this. :-)
You support the 32bit i386
Thanks

[2019-03-13 15:01] #131 closed

[2019-03-13 15:21] pm-pm opened #162 "Create sample config.yml during first start"
During first start the directorys "images" and "plugins" and the db are created, but no default config.yml file.
[code]
It yould be very helpful (not onyl for beginners) to create a sample/default config.yml in the same directory where the binary is.

[2019-03-13 15:25] eternal-flame-AD commented on #162
But we would have no idea on whether you want your config file to be placed in working dir or `/etc/gotify/`, also I cannot predict whether you might want to use environment variables for configuration.

But I think we can include a default config in the release package, so when you decompress the archive the config file is extracted as well.

[2019-03-13 15:43] pm-pm commented on #162
I propose to create it in the same directory where the gotify "data/" folder which its subfolders is created. So all relevant folders, datas and configs are in the same place.

(When you create an official *.deb file then you can place the config file in "/etc/gotify".)

Having a sample config file in the release package would be a "quick win". Good idea.

[2019-03-13 15:47] eternal-flame-AD commented on #162
I still prefer my solution.
The data directory does not necessarily exist: current references to that directory are only in the default configuration and user might want to override that.

[2019-03-13 16:50] pm-pm commented on #154
It llok like the the provider works stable again. I re-send the information. Could you please check this.
Thanks.

[2019-03-13 17:19] eternal-flame-AD commented on #154
I still can't get your email. Can you not use a burner email provider, send the har file here directly after masking your token and hostname, or drop a PGP encrypted HAR file here?

[2019-03-13 18:35] pm-pm commented on #154
ok. :-/
Accessinformation is the same as first time.
[g2a.zip](https://github.com/gotify/server/files/2963038/g2a.zip)

Thanks for feedback. I keep attention on the mail problem. Others receive mails without problems, but maybe some black/grey/dust listings cause the problem.

[2019-03-14 01:27] eternal-flame-AD commented on #154
Okay, I inspected the HAR file and will post a short summary of all my findings here:
- The websocket allow origin problem is hit, you can try to refer to the configuration file in your documentation to see how to explicitly add your hostname to the allowed origins, I know this should not be directly related to the problem you are talking about, but it does no harm to verify that:)
-  The most int

[2019-03-14 02:11] pm-pm commented on #154
Yes i think your analysis is correct. The conclusion is not correct, because i have not configured a IPv6 DNS entry for my domain. The curl result confirm that.
For testing i used the same Windows 10 Comupter. I downloaded a curl version from here: https://curl.haxx.se/windows/

Here ist the result: Domain names and source (PC) IP replaced.
[code]

[2019-03-14 02:14] eternal-flame-AD commented on #154
Can you post your complete apache configuration? Let's see if I can reproduce your problem.

[2019-03-14 02:15] pm-pm commented on #154
Let me say my idea, i can not prove it, but these are my thoughts:
Is it possible that only these two "pathes" have a "special" character or a double "//" in the source code that confuses Edge and not Firefox?
[code]

[2019-03-14 02:15] pm-pm commented on #154
Apache Config will follow.

[2019-03-14 02:17] eternal-flame-AD commented on #154
The HAR file should be the most accurate and actual dump of all the requests that have ever come out of the browser. If some relative paths are not resolved correctly, we should see paths such as `/gotify/gotify/client` in the HAR file, but to me it seems perfectly normal.

[2019-03-14 02:28] pm-pm commented on #154
From my side nothing special.
The only thing i see is "RewriteEngine On". Some old from testing. Could be removed. Is that the problem? There is no RewriteRule in my config!
The main apache config file should be default
[code]

[2019-03-14 02:52] pm-pm commented on #154
I apologize for the inconvenience, i hope it is a real bug, but I can't find a problem on my site. :-(
I will come back later, but i need a break. ;-)

[2019-03-14 02:58] pm-pm commented on #154
Please note: The machine itself has a lokal IPv6 interface/address. It this helpful/important?

[code]

[2019-03-14 03:06] eternal-flame-AD commented on #154
I think if your reverse proxy is not running on the same server as your browser is running on, that's not very important:(

Okay, I am also having difficulties getting my apache running:( Sorry I don't have any previous experience dealing with apache.

@jmattheis Can you try if you can reproduce this? Otherwise, I suggest we wait a few days and, if no one else encountered the same error, we can on

[2019-03-14 16:37] jmattheis commented on #148
I'm closing this for now, as gotify can do nothing about this.

[2019-03-14 16:37] #148 closed

[2019-03-14 16:50] #156 closed

[2019-03-14 17:16] #149 closed

[2019-03-14 17:22] jmattheis commented on #132
@GalvinGao In what context is you comment? If it is something unrelated to the discussion above please open a new issue.

[2019-03-14 17:29] jmattheis commented on #158
Yes and no, some webhooks require validation of the message this would add additional calls which cannot easily be generalized.

I agree with @eternal-flame-AD here, lets add a single plugin which supports multiple webhooks / webhook templating.

[2019-03-14 17:37] hypervtechnics commented on #102
The service.md looks quite good! Thanks for this! :)

What also would be nice to know:
1. Does gotify migrate the database automatically?
2. Does gotify create the directory structure automatically?
3. Required permissions for database users?

Atm a web-based installer is a bit too much I guess. But for the future this would be the way better option to make the installation more fluent. At least a

[2019-03-14 17:45] jmattheis commented on #159
I don't know, I currently see no problem here. @eternal-flame-AD what do you think?

[2019-03-14 18:15] jmattheis commented on #142
Yeah, but the error isn't gotify's fault so I'll close this issue.

[2019-03-14 18:15] #142 closed

[2019-03-14 18:17] jmattheis commented on #162
I agree with @eternal-flame-AD, lets include a `default-config.yml` in the zip.

[2019-03-14 18:40] jmattheis commented on #154
I tried to reproduce it on a windows vm but it does work as expected for me. I only tested it with http.

[2019-03-15 05:23] eternal-flame-AD commented on #151
This is my proposal:
Example:
[code]
JSON schema:
[code]

[2019-03-15 05:25] eternal-flame-AD commented on #159
I think this can be improved, as I also sometimes make this mistake, but not a priority though. I would say let's keep it and see if anyone can submit a PR for this.

[2019-03-15 10:34] GalvinGao commented on #132
@jmattheis I've edited the comment to make it better ;)

[2019-03-15 12:21] nguyentruongtho opened #165 "Common usecase, who use this?"
It seems helpful, but I wonder who use it in production and what are the most common benefit it brings to people other than just having fun?

[2019-03-15 13:21] GalvinGao commented on #165
Self-hosted services enable you to take full control of your service, and at the same time letting your messages stay in your local network instead of flying across the internet. Use in production is also possible due to the limitation of Google's Firebase Notification Service in China where software developers *have* to host their notification platforms. At such usage, Gotify usually becomes hand

[2019-03-15 13:34] eternal-flame-AD commented on #165
Sorry but I am having difficulty understanding your question.

If you are asking for what people are using this project for, why not join the community chat and ask other users for their experience? Or you can simply ask "I am not sure if this project is stable enough and is there anyone using this project in production environments?".

Please remember that this is a free FOSS project, no one is b

[2019-03-15 13:49] nguyentruongtho commented on #165
The question is mainly for understanding the intention of building this. I totally see how interesting it is, but I'm trying to understand the motivation behind it :). I don't doubt anything about the project, I should have checked out the chat but it wasn't very visible to me.

Thanks and please feel free to close.

[2019-03-15 13:50] #165 closed

[2019-03-15 13:53] eternal-flame-AD commented on #165
Okay then, I think @GalvinGao has answered your question.

Next time please try to make your issue description clearer and ask what information do you want in a direct way.

[2019-03-15 14:14] nguyentruongtho commented on #165
I think it was pretty clear and directly asked, otherwise @GalvinGao couldn't answered so good.

[2019-03-15 15:50] sebw opened #166 "Assistant for push messages in GUI"
I like how Simplepush presents a couple of different ways to generate push messages on their website:

https://simplepush.io/#libraries

How about having a similar feature directly in the server GUI? That would include the bits documented here https://gotify.net/docs/pushmsg

[2019-03-15 15:56] eternal-flame-AD commented on #166
We already have the API documentation included in the binary. Doing so would require baking documentations into the binary as well.

@jmattheis What do you think about this? I think a link to the official documentation in the WebUI should be enough.

[2019-03-15 16:30] sebw commented on #166
Indeed, let's keep the code base light.
A simple link taking to examples would be perfect!

[2019-03-15 17:11] jmattheis commented on #132
@GalvinGao Sorry I still don't understand it, please clarify what you mean with index website, what readme you refer to and what your idea is trying to accomplish.

[2019-03-15 17:27] jmattheis commented on #166
Yeah, we can include a link to the documentation. How about adding the following links under the list of applications in the left navigation
* Documentation
* Source Code
* Issues

[2019-03-15 17:37] eternal-flame-AD commented on #166
I would prefer a page footer that include links to the documentation. The left navigation should be reserved only for selecting applications.

[2019-03-15 18:07] pm-pm commented on #166
Don´t add links to "**admin** dokumentation" to "**user** webpages" ;-)
But a inconspicuous link of course is helpful.

[2019-03-15 18:17] sebw commented on #166
I actually discovered https://gotify.net/docs/more-pushmsg just now. That's exactly the kind of example I was looking for when opening this case.

Can we merge https://gotify.net/docs/pushmsg and https://gotify.net/docs/more-pushmsg ? I can take care of it.

[2019-03-15 18:29] jmattheis commented on #166
@sebw I did the separation because there are many programming languages for which examples could be added. I'd say a link (which exists) to the more pushmsg page is enough. Maybe we can highlight this link a little more.

[2019-03-15 18:31] sebw commented on #166
@jmattheis yup, makes sense. Renaming to Library and putting it right after pushmsg would probably be a bit clearer?

[2019-03-15 18:34] jmattheis commented on #166
Renaming is okay, I don't think it fits into getting started, as it is a more advanced usage of the gotify/server api.

[2019-03-16 01:16] rerobins opened #174 "Tables failed to initialize on MariaDB"
Initial installation and configuration directions do not show that specific mysql configuration values need to be set for the following issue:

(Error 1709: Index column size too large. The maximum column size is 767 bytes.)
[2019-03-15 19:09:51]

More details about how to fix the issue are in https://stackoverflow.com/questions/24853828/index-column-size-too-large-the-maximum-column-size-is-767-b

[2019-03-16 10:10] #160 closed

[2019-03-16 10:18] #101 closed

[2019-03-16 10:21] jmattheis commented on #20
Probably overkill and as there is no need for it I'll close this issue.

[2019-03-16 10:21] #20 closed

[2019-03-16 14:24] pm-pm commented on #149
Error still exist wit 2.0.3.
I am using a advised apache reverse proxy setup.
[code]

[2019-03-16 14:30] pm-pm commented on #154
Problem still exist with version 2.0.3.
Tested also on a second server, but with same Win10 Client/Edge Computer. (I only have one W10 Computer.)
A forward proxy is non configured. Firefox Browser "only" has "CheckOrigin" problem.
[code]

[2019-03-16 14:50] jmattheis commented on #154
@pm-pm could you try to add `ProxyPreserveHost On` to your configuration.

[2019-03-16 15:22] jmattheis commented on #149
`ProxyPreserveHost On` should fix the problem

[2019-03-16 15:54] pm-pm commented on #154
Yes. This did the trick.
What did i do wrong? What is wrong in setup?
I never needed this command to make my tools/config run.
Is this the solution or a workaround?

At the moment all other tools in my configuration seem to be still running. 👍

`ProxyPreserveHost On`
https://httpd.apache.org/docs/2.4/mod/mod_proxy.html#proxypreservehost

[2019-03-16 16:00] pm-pm opened #169 ""404 - /still loading" not found. :-)"
I think this not an error, but could maybe removed to reduce error messages. :-)
Or use something different than "404" ;-)
[code]

[2019-03-16 16:03] pm-pm commented on #149
Yes, please have a look here for information:
https://github.com/gotify/server/issues/154#issuecomment-473552571

[2019-03-16 16:08] pm-pm commented on #154
Could this please added to documentation. Thanks.

[2019-03-16 16:28] pm-pm commented on #142
For information:
Using gotify server 2.0.3
[code]

* This is annoying to see so many error messages, but only in this combination.

![fii](https://user-images.githubusercontent.com/47995430/54478266-7f10e100-4810-11e9-8190-38a7fbaba462.png)

[2019-03-16 17:06] jmattheis commented on #154
Yeah gotify/server explicitly validates the origin against the host for WebSocket requests, therefore the second part of the docu applies:

So this is the solution.

[2019-03-16 17:30] jmattheis commented on #169
Good catch! #170 should fix it.

[2019-03-16 21:59] #169 closed

[2019-03-17 18:03] pm-pm opened #171 "Add refresh button in WebUI message list"
If you delete a message on/via phone it does not disappear on the ui automatically.

First this, works well:
[code]

Now the non working part:
[code]
If you click in web ui between different "APPS" or switch "CLIENTS <-> APPS" in menu the already deleted message is still visible in web ui.
You only can "clear" (make disappear) the message from the web ui if you use the browser reload button or log

[2019-03-18 03:53] eternal-flame-AD commented on #171
Yes, currently WebSocket only notifies clients of new messages, but not message deletion, read/unread( #21 related), etc. But the current WebSocket message scheme does not include event types, thus it would break the API to fix the problem.

[2019-03-18 04:10] pm-pm commented on #171
Ok, i understand that is a bigger thing.
I do NOT need this funktion very often, more for testing, so i can do without this function.

Two ideas for a workaround (I prefer the second one):
- Reload the messages when you click/switch on the left side from one App to an other App
or
- Add a reload button on top. See picture.

![rms](https://user-images.githubusercontent.com/47995430/54506101-24c06f0

[2019-03-18 04:38] eternal-flame-AD commented on #171
I would say let's add a refresh button in the messages list. What do you think? @jmattheis

[2019-03-18 15:46] jmattheis commented on #171
A refresh button is okay.

[2019-03-19 08:01] eternal-flame-AD commented on #97
Explicitly adding `gorm:"type:text"` tag to message field solves the problem, but auto migration does not automatically upgrade obsolete schemas. I think this needs to be fixed manually.

[2019-03-19 08:45] jmattheis commented on #97
Yeah, it still should be changed in our models.

[2019-03-19 08:55] eternal-flame-AD commented on #97
Okay, I think only `message` needs to be changed to `text`, right?

[2019-03-19 09:33] jmattheis commented on #97
I'd say, to stay consistent, we have to change all fields to text. In Postgres & sqlite all fields are type text too.

[2019-03-20 04:32] mskian opened #175 "Connect MYSQL"
Hi I have little bit confusion in `config.yml` setup
I want to connect MYSQL instead of SQLite
I created a File on /etc/gotify/ location

[code]
Outptut
[code]
[code]

[2019-03-20 05:24] mskian commented on #175
@eternal-flame-AD

[code]
is this correct format ?

[2019-03-20 05:25] eternal-flame-AD commented on #175
Where is your MYSQL server running at? In docker container network, `127.0.0.1` can only be used to connect to the container itself, not the docker host.

[2019-03-20 05:29] eternal-flame-AD commented on #175
The format is correct, the error message indicates that the application cannot talk to your MYSQL server with the given address. If you need to use docker maybe you should refer to [this](https://docs.docker.com/network/) for more help on how to configure the network of your gotify server container so that it can reach your MYSQL server.

[2019-03-20 05:29] mskian commented on #175
Not running in Docker network
I am confused
we need to setup  Docker network for mysql right?

[2019-03-20 05:36] eternal-flame-AD commented on #175
Please answer this question first.

The docker network is by default bridged with the host, so if your MYSQL is running in your host computer or another container, the default `127.0.0.1` won't work.

[2019-03-20 05:46] Akito13 commented on #96
I am not sure if my issue is related to this, but here we go. When I connect to the Gotify Web-UI within Firefox on my computer, I constantly get an error in the bottom right corner saying _WebSocket connection closed, trying again in 30 seconds_. The thing is:
1. I don't use a reverse proxy, I connect directly to the server.
2. Everything is working fine, I don't have any issues with the service

[2019-03-20 05:49] mskian commented on #175
@eternal-flame-AD
I am using Lamp Stack
yes running on my server

[2019-03-20 05:53] eternal-flame-AD commented on #175
Then you will need to find out the gateway address to your container.

First `docker container ls` to see your container ID.
[code]
Then run `docker container inspect $CONTAINER_ID`
[code]

As you can see, my gateway address is 172.17.0.1, so you will need to put in `gotify:DBPASS@tcp(172.17.0.1)/gotifydb?charset=utf8&parseTime=True&loc=Local` as the connection string.

[2019-03-20 06:17] mskian commented on #175
I tried Now that error is gone but it's not to port 80 server

My configuration

[code]
[code]

[2019-03-20 06:20] eternal-flame-AD commented on #175
The port is `8080`, it is remapped by your docker run command.

[2019-03-20 06:25] mskian commented on #175
[code]
[code]
No Moments after starting the server

error log

[2019-03-20 06:36] eternal-flame-AD commented on #175
Can you try downloading the binary release and running without docker, so we can make sure it is not a database problem, change your connection back to localhost and run the binary release and see if you are still having errors.

[2019-03-20 06:38] mskian commented on #175
if i change the port to 8080:80 go this below error

[code]

[2019-03-20 07:14] mskian commented on #175
I will test it on Another server different configurations
For the moment will close this issue

[2019-03-20 07:14] #175 closed

[2019-03-20 07:45] eternal-flame-AD commented on #96
@Akito13 Have you upgraded your server to v2.0.3? We have recently fixed an issue( #150  ) which might cause this problem.

[2019-03-20 08:52] Akito13 commented on #96
Indeed, this solves it, thank you.

[2019-03-20 23:51] doekia opened #176 "Subscribe to only some application"
There should be a way to subscribe to only some application.

[2019-03-20 23:53] doekia opened #177 "Single device registered multiple times"
Everytime we login to the serveur, a similar device with different token key is created.
I log 10x  it create 10 devices.

[2019-03-21 08:51] #97 closed

[2019-03-21 11:52] eternal-flame-AD commented on #176
I think this is a duplicate of https://github.com/gotify/android/issues/61

[2019-03-21 11:55] eternal-flame-AD commented on #177
When you log out manually, the token stored in the browser local storage is deleted, so there is nothing we can do except to create a new token when you tried to log in again. You can safely delete the obsolete token.

However, I think we can support logging-in with an existing token, both on Android and WebUI, what do you think? @jmattheis

[2019-03-21 12:05] doekia commented on #176
Sorry my bad

[2019-03-21 12:05] #176 closed

[2019-03-21 16:50] jmattheis commented on #177
We could support this, however on logout the device will be removed, so if you logout there shouldn't be 10 devices for a single device.

[2019-03-21 18:56] jmattheis commented on #151
Sorry for answering that late. I think we just should add support for markdown it shouldn't break anything. I'm against a `client::render` setting.

The rest looks good.

Should we enforce the validity of these settings on server side? Otherwise, I'd just document the behavior on gotify/website and implement it on clientside.

[2019-03-22 01:49] eternal-flame-AD commented on #177
@jmattheis Did you mean this is already implemented? I don't think we have this feature now.

[2019-03-22 06:24] jmattheis commented on #177
Yeah, dunno if it is not working but we have it:
https://github.com/gotify/server/blob/c89623abd0e729e97dfe4f2cb5ad4fc42545507f/ui/src/CurrentUser.ts#L93-L105

[2019-03-22 06:28] eternal-flame-AD commented on #177
I will check on it later, however after several times during which I was logged out(most of which was due to I stopped the server while leaving the WebUI browser tab open) I always need to delete the obsolete client manually.

[2019-03-22 06:50] jmattheis commented on #177
This is a bit different, when you stop the server the websocket connection gets closed and normally a closed ws conn means that the user/client was deleted, therefore the ui deletes the token client side.

[2019-03-22 12:31] eternal-flame-AD commented on #177
Okay, @doekia would you please clarify your question a bit further? When you say "every time you log in", did you log out on the WebUI, or you just manually cleared your browser local storage? If the token is cleared, there is nothing we could do at the next login but to create another session.

Thus, I suppose you are asking for _supporting logging in with an existing client token_, right?

[2019-03-22 12:37] eternal-flame-AD commented on #151
Okay, if we do not plan to do anything that alters the render mode in the future we could remove this.

I think this is not needed, at least for now. No matter a server-side validation exists or not, I don't think we can skip that validation on the client side. The benefit of a server-side validation is that we can reject a message if it has malformed extra field, but I think we can display a warn

[2019-03-22 15:25] doekia commented on #177
I restarted the application, and see multiple time my own device.
To be honest I was expecting some sort of local storage that the device will use to present its previously acquired token (ala ip reservation in dhcp). But on my phone there seems to be not storage.

[2019-03-22 16:19] jmattheis commented on #151
Okay, we should also versionize the Extras so something like `android::notififcation::v1`.

[2019-03-22 16:50] jmattheis commented on #177
It will be stored in the localstorage, but currently if an error (in this case a network error) occurs the token will be deleted. This problem should be fixed with https://github.com/gotify/server/pull/178

[2019-03-22 17:02] doekia commented on #177
Regarding localstorage, could it be that the last(s) server(s) be in that storage too.
It is painfull to reenter such url each time we start the application ?

[2019-03-22 17:06] jmattheis commented on #177
Are the servers on different urls? If so they shouldn't be able to modify each others local data.

[2019-03-22 17:10] doekia commented on #177
Sorry I may be misexpressing my-self. Once I restart the android application, I have to painfully reentrer the url of the server. No autofill, no proposition, did I have misunderstood something?_

[2019-03-22 17:12] jmattheis commented on #177
Normally you should stay logged in inside the android application.

[2019-03-22 17:14] jmattheis commented on #177
Could you have a look in the logs (it in the upper left corner in the login screen and otherwise in the navigation). Is there any error after you restarted the android app and need to login again.

[2019-03-22 19:12] doekia commented on #177
Quite odd, now I restart the application, it does not ask for logon again (hence auto log).
Probably I made something wrong earlier, nut I have not clues of what.
My apologyze.

[2019-03-24 08:04] eternal-flame-AD commented on #151
Sounds fine. So the parser will look for extra fields from the highest version to the lowest, and then a default when none is found.

[2019-03-25 12:53] atakanyenel opened #179 "An example of using the `/stream` endpoint"
**Have you read the documentation?**
- [x] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [x] Docker
- [ ] Linux native platform
- [ ] Windows native platform

**Describe your

[2019-03-25 14:36] eternal-flame-AD commented on #179
The process itself is simple, just connect to `/stream` and listens for messages, every new notification is sent as a websocket message.

@jmattheis Do you think the current documentation needs to include this?

[2019-03-25 16:34] jmattheis commented on #179
I think only power users will use the web socket, others will just use the android app or web app and therefore I'd say the current documentation via swagger is enough.

Maybe we could add a link pointing to https://gotify.net/api-docs#/message/streamMessages on the pushmsg documentation page.

[2019-03-27 20:14] #177 closed

[2019-03-27 20:20] #154 closed

[2019-03-28 05:22] eternal-flame-AD commented on #179
Yeah, I also think this is relatively straightforward, and I don't think extra documentation is really necessary.

[2019-03-28 05:24] eternal-flame-AD commented on #137
@mahescho It has been 20 days since the last activity of this issue. Has your problem been resolved?:)

[2019-03-28 18:18] #179 closed

[2019-03-28 18:20] jmattheis commented on #26
If someone gains access to a gotify user account then he/she/whatever probably can't do much, therefore this issue is probably overkill.

[2019-03-28 18:20] #26 closed

[2019-03-28 18:23] jmattheis commented on #30
I think this issue isn't really needed because most mobile users probably use the android app.

[2019-03-28 18:23] #30 closed

[2019-03-28 18:25] jmattheis commented on #78
This would be a cool feature but I think it is not really needed and as there isn't much need for it, I'll close this issue for now.

[2019-03-28 18:25] #78 closed

[2019-03-28 19:05] jmattheis commented on #65
Closed in favor of #129

[2019-03-28 19:05] #65 closed

[2019-03-29 17:05] #137 closed

[2019-03-30 10:08] #129 closed

[2019-04-02 17:08] Leosirth opened #182 "Get 401 Unauthorized while logging with android app with gotify behind traefik (while WebUI works)"
**Have you read the documentation?**
- [x] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [X] Docker
- [ ] Linux native platform
- [ ] Windows native platform

**Describe your

[2019-04-02 18:03] jmattheis commented on #182
Hey @Leosirth,
could you append your traefik and gotify/server config to this issue?

The 401 request was done with a public ip. The other successful requests were done with a not public ip, maybe it only works in the local network, but it is only a guess.

It also could be that traefik doesn't proxy the `Authorization` header to gotify/server. This could be caused by a middleware, but without con

[2019-04-02 18:39] Leosirth commented on #182
Hi @jmattheis ,
thanks for your feedback.

Gotify has been launched without any configuration and/or environment variables so has all the defaults.

<details><summary>Traefik config</summary><br><pre>

logLevel="DEBUG"
defaultEntryPoints = ["https"]
################################################################
# API and dashboard configuration
###################################################

[2019-04-02 19:27] jmattheis commented on #182
@Leosirth how do you specify the url in the android app with http (`http://yourdomain.com`) or with https (`https://yourdomain.com`). When using http it wont work because the login credentials will be omitted when the redirect from http -> https happens.

[2019-04-02 21:05] Leosirth commented on #182
@jmattheis I use the https URL with a custom port

[2019-04-02 22:24] Leosirth commented on #182
I started from scratch re-creating the gotify docker container and now is working fine.
Sadly I don't know what was the problem.

Sorry to have bothered you.

[2019-04-02 22:24] #182 closed

[2019-04-07 12:58] atajsic commented on #174
Good Afternoon,

I was also also having this issue.
`Ubuntu 18.04`
`Gotify version 2.0.4`
`MariaDB 10.1.38-MariaDB-0ubuntu0.18.04.1`

This is the default, and the current on Ubuntu's 18.04 repo.

I added MariaDB's repo, and upgraded MariaDB to 10.3.14, which solved the issue.
Considering it is the default of an LTS build, I thought I'd mention it here.

Kindest Regards,
Andrew

[2019-04-07 13:48] eternal-flame-AD commented on #174
@atajsic
Thanks for the research:) I will try to reproduce this and see if we can do anything to resolve this these days.

[2019-04-11 03:27] eternal-flame-AD commented on #174
I think this is caused by [this](https://mariadb.com/kb/en/library/innodb-system-variables/#innodb_large_prefix) change in the default value to `innodb_large_prefix`. We could have two ways to resolve this:
- Document this problem and require MariaDB users using `<=MariaDB 10.2.1` to explicitly set this config option before initializing the database.
- Limit all indexed fields within 767 bytes.

I

[2019-04-12 19:36] jmattheis commented on #174
Limiting the indexed fields to x bytes seems like the right approach, good catch!

[2019-04-13 15:20] #174 closed

[2019-04-14 13:52] jmattheis opened #185 "Make extras declarable via query/form params"
The extras should be declarable via query/form params, otherwise the user must build JSON to set extras which is not really convenient. I'm okay when some complex settings are only settable via JSON.

I could imagine something like:
[code]

[2019-05-03 18:12] Mike325 opened #186 "Allow the apps to send messages to specific clients"
Right now apps broadcast messages to all subscribed clients, it would be nice if the apps could send  messages just some of the clients, something like this

    /message?token=<app_token>&client=<client_id>

Broadcast messages would still be available when the `client_id` is missing

[2019-05-03 18:32] jmattheis commented on #186
Hey, thanks for your issue!

Do you have a specific use case for this?

We have a similar issue with a different solution https://github.com/gotify/android/issues/61 in there the client chooses to what applications it subscribes.

[2019-05-03 19:04] Mike325 commented on #186
I thought this could be useful in a couple of use case like

* There are multiple clients that react to the notifications, something like tasker may be listening and trigger some actions with specific messages
* Some messages may not be relevant to all the clients, if I tablet is running out of battery it may send a message to the phone informing about it, right now it would broadcast the message

[2019-05-04 13:35] bn4t opened #187 "Run gotify in docker as non-root user"
It would be awesome if gotify would be run as a non-root user in docker.

[2019-05-04 13:45] eternal-flame-AD commented on #187
Is there any benefit for this? According my experiences I have not come up with any service that runs as a custom user in docker.

[2019-05-04 13:52] bn4t commented on #187
In case of a container breakout the process wouldn't run as root on the host.
I'm aware that a container breakout is unlikely but it would still be nice to not run gotify as root in the container.

[2019-05-04 14:28] eternal-flame-AD commented on #187
The container has another user system isolated from the host system, so I don't think the user in the container affects its power on the host.

[2019-05-04 14:58] bn4t commented on #187
User namespaces are available since Docker 1.10. However by default users are not namespaced.

From the docs ([link](https://docs.docker.com/engine/security/security/#other-kernel-security-features)):

It is possible to manually map the user root to a different user on the host, although I don't think many people actually do this.

I think that changing the user under which gotify runs would incre

[2019-05-04 15:20] eternal-flame-AD commented on #187
I am aware of this, and I agree with you that this actually increases security, but this is more of a docker daemon configuration problem rather than a problem to be mitigated on the container side. When a user want to use this feature, he only needs to set his `dockerd` to run under another user, and there won't be a difference in the procedures to deploy the gotify container on the docker daemon

[2019-05-04 17:36] #187 closed

[2019-05-16 11:44] mskian opened #189 "Install Gotify with Nginx Server"
Hey I looking for Proper and Clean Nginx VHOST setup for Gotify on Nginx

[2019-05-16 12:20] eternal-flame-AD commented on #189
Can you refer to https://gotify.net/docs/nginx?

[2019-05-16 12:48] mskian commented on #189
Thanks, mate I forget this
I am going to run Gotify using Binary file instead of docker

This systemd configuration is OK (Tested on my local system works well)

[code]

[2019-05-16 12:54] eternal-flame-AD commented on #189
If it works on your system then it should be fine.

Can you take a look at our issue template and include necessary information to resolve you problem? Thanks. I am having difficulty interpreting your question.

**What do you want to achieve?**

**What have you done?**

**what problem did you encounter?**

[2019-05-16 13:08] mskian commented on #189
sorry mate
actually, I am looking for Nginx setup but I forget our docs
I need your Nginx Configuration if possible share it
also Share the perfect read, connect and send timeout for WebSocket

[2019-05-16 13:19] eternal-flame-AD commented on #189
So I guess the docs has resolved your problem, right?

[2019-05-16 14:56] mskian commented on #189
Yes done

[2019-05-16 14:56] #189 closed

[2019-05-18 22:02] mhf-ir commented on #66
I think per applicaion user permission is better solution,
Applicaion is Pub topic and users are Sub.
In application endpoint we could add or remove users.

[2019-05-19 06:44] harishkumar574 opened #190 "Error is not returned on database error"
**Can the issue be reproduced with the latest available release? (y/n)** Y

**Which one is the environment gotify server is running in?**
- [ ] Docker
- [x] Linux machine
- [ ] Windows machine

**Do you have an reverse proxy installed in front of gotify server? (Please select None if the problem can be reproduced without the presense of a reverse proxy)**
- [ ] None
- [x] Nginx
- [ ] Apache
- [ ]

[2019-05-19 06:47] eternal-flame-AD commented on #190
@harishkumar574 Which database are you using?

@jmattheis I think we should not ignore database errors.

[2019-05-19 06:55] eternal-flame-AD commented on #190
You will need to enable multibyte support on your mysql database by taking a look at [this](https://mathiasbynens.be/notes/mysql-utf8mb4) article. @harishkumar574

[2019-05-19 08:08] harishkumar574 commented on #190
Thanks @eternal-flame-AD ,

Worked after changing **CHARSET**  to utf8mb4 and **COLLATE** to utf8mb4_unicode_ci

Here is what i did:

1. Alter Database charset and collate by using following command
`ALTER DATABASE database_name CHARACTER SET=utf8mb4 COLLATE=utf8mb4_unicode_ci;`
2. Alter table where messages are stored which is **messages** table
`ALTER TABLE messages CONVERT TO CHARACTER SET utf8

[2019-05-19 08:37] jmattheis commented on #190
@eternal-flame-AD Yeah, errors like this should lead to a 500 internal server error.

[2019-05-19 08:41] mskian commented on #190
Same issue I am also facing
this method working well

[2019-05-19 08:51] mskian commented on #190
This Guide too share the Perfect Solution [Storing Emoji to Mysql with Golang]( https://hackernoon.com/today-i-learned-storing-emoji-to-mysql-with-golang-204a093454b7)

[2019-05-20 01:53] buckket commented on #63
[Web Push](https://developers.google.com/web/fundamentals/push-notifications/web-push-protocol) seems like a technology that solves a very similar to problem to what Gotify is trying to do and has E2E encryption built in. Specifically I’m talking about [RFC8291](https://tools.ietf.org/html/rfc8291) and [RFC8188](https://tools.ietf.org/html/rfc8188). They describe the encryption process (ECDH, HKDF

[2019-05-20 03:26] eternal-flame-AD commented on #63
@buckket Thanks for the info, but we would need to make some fundamental changes to support the key exchange problem, and it is in some ways not conforming with the design goal of gotify: just a simple push messaging system. This feature is still in consideration.

[2019-05-20 11:36] superwinni2 opened #192 "Best Practice: Run as service"
Whats the best way to run Gotify server as service on normal server? (No docker)

I created a service file  in /etc/systemd/system and did a deamon-reoad.
But the whole Log runs into syslog / journal ....
Is it possible to change the logging path?

What would be best practice for running as a service?

[2019-05-20 13:57] eternal-flame-AD commented on #192
I don't think there is a "best practice" for this, as long as it suits your needs. That is why we support multiple deployment methods.

As for the logging path, I suggest you consult systemd documentation on how to optimize logging.

[2019-05-20 16:34] jmattheis commented on #66
This feature should be done as a plugin.

[2019-05-21 09:54] mskian commented on #192
@superwinni2 Check this (Install and Configure Gotify without Docker in Apache Server) - https://github.com/mskian/gotify-apache

[2019-05-25 06:37] #190 closed

[2019-05-26 18:55] #192 closed

[2019-06-05 12:48] Z31L1 opened #194 "I can not send Messages"
**Have you read the documentation?**
- [ ] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [x ] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [ ] Docker
- [ ] Linux native platform
- [x ] Windows native platform

**Describe you

[2019-06-05 14:45] eternal-flame-AD commented on #194
Would you please provide a general description of the steps you took from creating the application to attempting to send a message? Thanks. (you can mask your application token with `Axxxxx`)

[2019-06-06 04:51] Z31L1 commented on #194
I have downloaded the Executable for windows, and insert the config.yml Default to Desktop/Gotify/data. Also I downloaded the Gotify App and connect it to the Server. First I have created stuff with the WebUI. Than I tried curl comands looks like it all works only the Message comand get an error. After this I try the CLI but it don´t start. After some more trys I write this Question.

[2019-06-06 04:53] eternal-flame-AD commented on #194
Would you please post your curl command you used to create the message? Mask your token with `Axxxx`

[2019-06-06 05:02] Z31L1 commented on #194
curl -X POST "http://198.168.40.98:80/message?token=<Axxxx>" -F "title=my title" -F "message=my message" -F "priority=5"

[2019-06-06 06:06] Z31L1 commented on #194
I´m so sorry it was a Noobish Fault token works fine without <> all work thx.

[2019-06-06 06:06] #194 closed

[2019-06-06 19:41] kallisti5 commented on #186
This was one of the first requested features when I brought this up to my team. It would be nice to at minimum set target clients for notifications, or put clients into groups.

As a use case example, we get alerts for things when they break.  If we could define "groups of clients interested in windows-related notifications, and groups of clients interested in linux-related notifications" it would

[2019-06-08 04:10] eternal-flame-AD opened #195 "Plugin Configuration is stored as varbinary(255) on mariaDB"
**Can the issue be reproduced with the latest available release? (y/n)**
Yes
**Which one is the environment gotify server is running in?**
- [ ] Docker
- [X] Linux machine
- [ ] Windows machine
<details><summary>Docker startup command or config file here (please mask sensitive information)</summary><br>

[code]
</details>

**Do you have an reverse proxy installed in front of gotify server? (Please

[2019-06-11 16:16] #195 closed

[2019-06-11 16:19] eternal-flame-AD opened #198 "Test on multiple database systems"
We should test code on multiple database systems to ensure compatibility of different database backend.

Planned databases to test on:
- [ ] Sqlite3
- [ ] Postgres
- [ ] MariaDB
- [ ] MySQL(?)

[2019-06-15 20:40] geeseven opened #199 "FreeBSD builds"
**Is your feature request related to a problem? Please describe.**
I would like to run gotify on FreeBSD but there are not any FreeBSD builds.

**Describe the solution you'd like**
I would like to see FreeBSD builds for each release just like other OSes.

**Describe alternatives you've considered**
Linux binary compatibility or running a Linux bhyve virtual machine are workarounds.

**Additional c

[2019-06-16 03:40] eternal-flame-AD commented on #199
@jmattheis What do you think? Should we add official support for this?

[2019-06-16 07:15] jmattheis commented on #199
@eternal-flame-AD Sure, why not (:.

[2019-06-16 09:01] eternal-flame-AD commented on #199
AFAIK Ubuntu does not seem to have a pre-built freebsd cross-compiler available. I think we need to build it from source manually. Right? @jmattheis

[2019-06-16 10:32] jmattheis commented on #199
So, I'm not a free bsd user but I've you said that free bsd supports linux binary compatibility, why not use this instead?

Yeah, couldn't find a prebuilt cross compiler.

[2019-06-16 10:34] eternal-flame-AD commented on #199
@geeseven Does the linux binary work on your machine?

[2019-06-18 17:58] geeseven commented on #199
Thanks for the timely replies.  I was hoping to avoid Linux binary compatibility if possible.  It seems like a workaround golang was designed to eliminate.  That being said, I understand in the real world other issues crop up.

If there is no tooling and y'all do not use FreeBSD, I think official support more or less just providing 'as is' binaries is not a good idea.  If/when I get time, I will r

[2019-06-27 15:30] jfmoura opened #201 "Status Code 0 trying to config SSL"
**Have you read the documentation?**
- [X] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [ ] Docker
- [X] Linux native platform
- [ ] Windows native platform

I'm having diffi

[2019-06-27 15:47] eternal-flame-AD commented on #201
Please complete the details while sumbitting your issue.

[2019-06-27 16:01] jfmoura commented on #201
Sorry I had a problem with my nephew :-D
I just edited and compleated my question.
Thank you in advance.

[2019-06-27 16:07] jfmoura opened #202 "Failed with status code 0 trying to config SSL"
**Have you read the documentation?**
- [X] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [ ] Docker
- [X] Linux native platform
- [ ] Windows native platform

I'm having diffi

[2019-06-27 16:10] eternal-flame-AD commented on #201
Is your cert trusted on your client system, or it's self-signed?

[2019-06-27 16:15] eternal-flame-AD commented on #202
Duplicate of #201

[2019-06-27 16:15] #202 closed

[2019-06-27 16:25] jfmoura commented on #201
It's self-signed

[2019-06-27 16:30] eternal-flame-AD commented on #201
Okay so your connection cannot be established because the authenticity of the server cannot be verified. We are working on a workaround [here](https://github.com/gotify/cli/issues/27), or you can manually add your CA to the trust database on your system.

[2019-06-27 17:42] jfmoura commented on #201
Ok, I follow this procedure to add the CA certificate(server.crt) to the system (Ubuntu):
    Go to /usr/local/share/ca-certificates/
    Create a new folder, i.e. "sudo mkdir school"
    Copy the .crt file into the school folder
    Make sure the permissions are OK (755 for the folder, 644 for the file)
    Run "sudo update-ca-certificates"
Result:
Updating certificates in /etc/ssl/certs...
1 add

[2019-06-27 17:52] eternal-flame-AD commented on #201
Can you try executing curl against your server to make sure that a connection can be established?

[2019-06-27 18:17] jfmoura commented on #201
I run the next command from the same server:

curl: (51) SSL: certificate subject name 'server' does not match target host name '192.168.1.50'

And additionally these:

Client sent an HTTP request to an HTTPS server.

Use HTTPS

Otherwise repond: curl: (7) Failed to connect to 192.168.1.50 port 44: Connection refused

[2019-06-27 21:30] jfmoura commented on #201
Hi eternal-flame-AD
I had a small progress with this topic.
I read that in the verification process the client will try to match the Common Name (CN) of certificate with the domain name in the url.
Because of this I decided to create a new self-signed certificate with the CN: 192.168.1.50 and add it in the ubuntu ca-certificates.

Now I have this response from the server executing the curl from th

[2019-06-28 16:39] eternal-flame-AD commented on #201
Great to hear that you are up and running :)
Sorry I was on a flight earlier today so I couldn't get to you in time.

[2019-06-29 15:41] hpmueller1971 commented on #63
@eternal-flame-AD Why not use the approach that [irssinotifier](https://github.com/murgo/IrssiNotifier/blob/master/Irssi/irssinotifier.pl) uses, you (the sender) pre-encrypt all data (Title, Channel, Text) with a static key in openssl:

`my $pid = open2 my $out, my $in, qw(openssl enc -aes-128-cbc -salt -base64 -md md5 -A -pass stdin);`

then you send that encrypted string to the server (which in

[2019-07-03 18:38] ppacher commented on #187
Unfortunately it is not as simple as letting dockerd run as a different user because docker needs root access to setup all the namespaces required for container isolation. One possibility, as pointed out by @bn4t , is to enable user-namespaces. However, this is a bit complicated and may break existing/running containers. Moreover, not using root is actually recommended by docker [1] and many servi

[2019-07-03 19:14] ppacher opened #203 "Authentication Plugin"
Hello!

First I want to thank you for this awesome project!

I'd like to propose an extension to the current plugin system that may also relate to #78 and #20. Both issues asked for a different authentication method and I really understand that implementing and maintaining different authentication mechanisms is a bit overkill. However, I think we could extend the current plugin system in a way tha

[2019-07-04 01:25] eternal-flame-AD commented on #203
Should this be implemented as a plugin, or we can implement them in the main program and allow users to choose between these external authentication methods and the built-in credential manager? I'm doubting whether it is beneficial to implement it as a plugin or just make this feature built-in.

[2019-07-04 06:21] ppacher commented on #203
Since there are lots of different identity/authentication providers IMHO a plug-able approach might be easier to maintain because the actual implementation of these plugins can be done by the community. You might consider merging them into upstream gotify when they are stable but it will allow the gotify team to focus on different feature/problems instead of fighting with various authentication pr

[2019-07-04 08:26] eternal-flame-AD commented on #203
Good point.

So, all users will have a credential stored in the built-in authentication system for fallback, or only some of them would need to have one?

[2019-07-04 08:34] eternal-flame-AD commented on #203
My first thoughts on possible implementations:

- Built-in first, then external.

All requests are first examined by the built-in credential manager. If a valid token is not present, the request is then passed on to external auth plugins one-by-one. A whitelist may be implemented to limit which group of users the plugin might be used to authenticate for so that some not-so-secure methods cannot be

[2019-07-12 00:16] barolo commented on #199
I've recently deployed gotify on freeBSD based VPS without any issues, built without any hiccups. If that helps anybody

[2019-07-12 14:54] geeseven commented on #199
Hey @barolo, glad to hear.  Do you mind sharing details on what you did, as I have not had a chance to look into this further.

[2019-07-12 15:41] barolo commented on #199
Besides VPS specific stuff like setting paths [ it had to be compiled and installed in the user folder ] nothing much

`go get -u github.com/gotify/server`

in the ui folder:
[code]
in the main folder

`packr build`

[ I had to get packr, but just:
[code]
was enough ]

then copy config.example.yml  into config.yml [ changed port to what I needed ] and launch serwer, done.

npm and go was already s

[2019-07-12 16:49] geeseven commented on #199
@barolo, thanks for the details.  Did the ports versions of go and npm not work?  Also do you mind sharing your rc.d script?

[2019-07-12 19:46] barolo commented on #199
@geeseven It's a VPS, I have no access to system or say in how it's set up, It was preconfigured by a hosting provider

[2019-07-12 20:50] geeseven commented on #199
Interesting, sounds more like a shell account than a VPS.  None the less, thanks for sharing.

[2019-07-12 21:12] barolo commented on #199
@geeseven It's something inbetween, on a shell account you can't usually binexec your own stuff. There's decent amount of configurability, myriad of dev tools of several versions and virtual environments for these [ It's also really cheap ]

[2019-07-16 07:11] ppacher commented on #203
Hi, sorry for ma late reply. I have been really busy the last days.

I'd only allow additional internal users (ones that have passwords stored in the built-in credential manager). This way there could be a single local administration account for rescue purposes while all the others are always authenticated using an external provider. This way we don't need to care about password synchronization, e

[2019-07-16 07:24] jungle-boogie opened #204 "OpenBSD builds request"
**Is your feature request related to a problem? Please describe.**
This is a feature request to provide amd64 bit builds of `gotify` server available for download. Currently OpenBSD isn't a download option.
See here: https://github.com/gotify/server/releases/tag/v2.0.5

**Describe the solution you'd like**
I would like to be able to download a tar gz file of `gotify` server, then uncompress, which

[2019-07-17 11:40] eternal-flame-AD commented on #203
@jmattheis I think this is doable, what do you think?

[2019-07-17 11:45] eternal-flame-AD commented on #204
I will take a look at this, but it might not be as easy as it looks (like #199), I would say the easiest way would be to build gotify from source on your machine, you only need a working go toolchain and a gcc compiler to do this. The main obstacle would be to prepare the C/CXX build docker environment for sqlite support in [gotify/build](https://github.com/gotify/build), and we would really appre

[2019-07-17 17:12] jmattheis commented on #203
Yeah, seems like a reasonable approach. I'd go with the first proposed implementation `Built-in first, then external`. The origin of the user should be saved in the database and further access is only granted from the same origin. Passwords from != local origin should never be stored.

The API could look like this

[code]
In case of errors the plugin should call `ctx.AbortWithError` by itself, wit

[2019-07-17 17:12] #201 closed

[2019-07-18 18:53] propositionjoe opened #206 "text/markdown in php"
**Have you read the documentation?**
- [x] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [x] Docker
- [ ] Linux native platform
- [ ] Windows native platform

**Describe your

[2019-07-18 18:55] propositionjoe commented on #206
I have to give 1h to add "text/markdown" fonction on the exemple of the .php in this page https://gotify.net/docs/more-pushmsg .

[2019-07-19 05:21] eternal-flame-AD commented on #203
Okay, I will come up with a more detailed (maybe API stub) so we can polish it further.

[2019-07-19 07:30] eternal-flame-AD commented on #206
Sorry I am having difficulty understanding your question, did you mean how to add the content type for the push message in PHP?

[2019-07-19 08:29] propositionjoe commented on #206
Yes, that's exactly it.

[2019-07-19 14:39] jmattheis commented on #206
You can enable display in markdown with adding `text/markdown` as contentType. In PHP you can do it like this:
[code]

[2019-07-19 18:58] propositionjoe commented on #206
Perfect,
Thanks

[2019-07-19 18:58] #206 closed

[2019-07-24 06:48] ppacher commented on #203
Just another idea: In case gotify notices an unauthorized request (i.e. no session-cookie/token available) should we check if a plugin is able to authenticate the request as well by checking request headers? This would allow "single-sign-on" solutions as well as "trusted-proxies" where the proxy already authenticated the user and forwards the user-id in a header-value?

[2019-07-24 06:57] ppacher commented on #203
We could have two different plugin interfaces:
[code]

[2019-07-24 11:19] jmattheis commented on #203
Yeah, the `git.Context` contains the `http.Request`. But sure, we can omit the user & pass parameter.

[2019-07-28 02:41] eternal-flame-AD commented on #203
My proposal on the API based on the one @ppacher proposed:

The plugin would export another symbol, `Authenticator plugin.Authenticator`. I agree with @jmattheis on the idea that a user should be bound to the authentication method it is used.

plugin.Authenticator should contain:
[code]

Once a request pending authentication is received and the internal credential manager did not find a  matching

[2019-08-01 18:18] jmattheis commented on #203
@eternal-flame-AD

Sorry for answering that late, must've overlooked the notification.

:+1:

Hmm, I'm not sure. I rather not do it because when a password is set for a != internal authenticator then changing the password inside the authenticator f.ex. ldap wouldn't change the password in gotify.
Maybe we could add functionally like "migrate to internal user management" but this should be an other

[2019-08-02 07:43] van-beek commented on #186
Yes this would be a nice feature. especialy for the stream websocket. subscribe to one application or send message to a client. Then one server can be used for mulitple apps.

[2019-08-03 16:58] ppacher commented on #203
I also think it is a good idea to enforce at least one administrator that will always work

I agree with @jmattheis that this will cause some stupid / weird situations with changing passwords. It might even be a problem with password expiry for example.

I think it would be better to move the `Name` property to the configuration of the plugin. This way a user can easily use the same plugin multipl

[2019-08-04 05:30] eternal-flame-AD commented on #203
I am considering removing the requirement that a plugin must have the symbol `NewGotifyPluginInstance` exported, and instead check for either `NewGotifyPluginInstance` and `GotifyExternalAuthenticator` symbol, the presence of either indicate that it can handle a user plugin and/or an authentication plugin.

Another approach would be to build this entirely independent of the current plugin system a

[2019-08-04 07:18] jmattheis commented on #203
I think it needs to be a separate system for loading, because the current system has a plugin instance for every user, with authentication we do not want this. The loading system should be much simpler because it basically only has the Authenticator instance. No enable/disable per user, no displayer, storager.

Could you add your answer to:

[2019-08-04 07:26] eternal-flame-AD commented on #203
Sorry I think I overlooked this. I don't think it breaks compatibility, as it won't conflict with any current implementation. I think we can add it to the current api under a new subfolder.

I think we now have a somewhat mature idea on what we want to do and it's time to do some hands-on work. I will open a PR to do this :)

[2019-08-04 09:08] ppacher commented on #203
If we split up the work into smaller pieces I'd be happy to assist in implementation :)

[2019-08-04 10:50] eternal-flame-AD commented on #203
I'm working on refactoring the current `auth` package to make it more suitable for our new needs. After that I think maybe we can split the work up. I will update after I finished this.

[2019-08-15 19:24] iDJHost opened #209 "sound"
**Have you read the documentation?**
- [x] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and wants clarification.
**You are setting up gotify in**
- [x] Docker
- [ ] Linux native platform
- [ ] Windows native platform
**Describe your pr

[2019-08-16 07:27] jmattheis commented on #209
Hey @iDJHost,

depending on the priority, the gotify android app will display notifications in a more intrusive way.
0 - not intrusive; 10 - very intrusive (sound & popup). (Only works on Android Version >= 8)

Do you experience this issue in the android app, in a browser or both? Does gotify/server output any error messages, when accessing the site via https?

[2019-08-16 13:21] iDJHost commented on #209
Browser:
This site can’t provide a secure connection domain.tld:port sent an invalid response.
ERR_SSL_PROTOCOL_ERROR
![ssl4site](https://user-images.githubusercontent.com/21136403/63166580-73f6f280-bff4-11e9-840e-d1620eb1dc1e.png) image is showing https://domain.tld (no port)

From Gotify Android App:
Request to 'https://domain.tld:port/version' failed with status code 0

Cpanel SSL status -  Aut

[2019-08-16 13:35] iDJHost commented on #209
Also, Thank you for letting me know about the priority,testing shows 0 gives me an app indicator, then 1-3, App is "just" an inbox but shows messages in pull down, 4-7, gets sound, 8-10, gets sound & popup. Amazing work on the app! Thank You.

[2019-08-16 14:07] jmattheis commented on #209
Np. In the upper left corner of the android app is a logs button, could you try to login and then make a screenshot of the logs?

[2019-08-16 15:12] iDJHost commented on #209
I cleared the logs and tried reconnecting using https in the app to try to keep the image as small as possible.

![Gotify Log trying to use https](https://user-images.githubusercontent.com/21136403/63177768-3d2dd600-c00e-11e9-84c2-8ea7dc6d47d0.png)

[2019-08-16 15:45] jmattheis commented on #209
Could you check which tls versions your server supports?, you can do it here https://www.cdn77.com/tls-test (I don't know this site). Via nmap
[code]
Or via some other way :D.

I'd guess your server only supports tls1.3 and the android app somehow has problems with that.

[2019-08-16 16:15] iDJHost commented on #209
TLS 1.3 | NO
TLS 1.2 | YES
TLS 1.1 | NO
TLS 1.0 | NO
SSLv3 | NO
SSLv2 | NO

I am currently in the process Rebuilding apache to support all, will update once complete

[2019-08-16 16:29] iDJHost commented on #209
I guess cPanel only supports TLS 1.2, trying to enable more anyway

[2019-08-16 16:33] jmattheis commented on #209
TLS 1.2 should work fine. Would you mind sending me your domain where gotify is hosted at per email? (You can find my email on my GitHub profile) Otherwise its pretty difficult to debug (:.

[2019-08-16 16:37] iDJHost commented on #209
sent

[2019-08-16 19:04] iDJHost commented on #209
Since the original answer has been resolved, I am going to close this. Thank You so much for all your help

[2019-08-16 19:04] #209 closed

[2019-08-18 20:36] bluuman opened #210 "How do I use a config file with docker?"
**Have you read the documentation?**
- [x] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [x] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [x] Docker
- [ ] Linux native platform
- [ ] Windows native platform

**Describe your

[2019-08-19 03:47] eternal-flame-AD commented on #210
You can use env vars for configuration. Details are [here](https://gotify.net/docs/config#environment-variables)

[2019-08-19 08:22] bluuman commented on #210
thanks. I ended up just mapping the container storage to my /etc/gotify/config.yml file, by issuing this command:  docker run -p 443:443 -p 80:80 -v /var/gotify/data:/app/data -v /etc/gotify/config.yml:/etc/gotify/config.yml gotify/server

[2019-08-19 08:30] #210 closed

[2019-08-20 21:42] bluuman opened #211 "Set Up SSL Through Docker"
**Have you read the documentation?**
- [x] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [x] Docker
- [ ] Linux native platform
- [ ] Windows native platform

**Describe your

[2019-08-21 01:23] eternal-flame-AD commented on #211
This is caused by `ca-certificates` not installed in the docker container. I will fix this.

[2019-08-21 02:32] bluuman commented on #211
thanks eternal-flame! that package fixed it

[2019-08-21 08:06] #211 closed

[2019-08-26 15:36] superwinni2 opened #213 "Gotify Server behind HAProxy?"
Anyone with a Server behind HAProxy?

I always got Timeouts after ~1 Minute...
Already tried difference timeouts but nothing helps...

Thanks

[2019-09-01 10:20] marza91 commented on #119
Hello,

Not knowing very much about Android notifications, I wonder if this would make it possible to open links in other apps than the browser? I'm trying to set up my gotify server as a complete replacement of the one provided by google, IE. my server would be connected to my Discord account, and when I receive a message it would send a gotify notification to my phone.

What I would like is to h

[2019-09-02 15:16] cbalano opened #214 "Cannot Build the Go App"
**Have you read the documentation?**
- [ x] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [x ] Docker
- [ ] Linux native platform
- [ ] Windows native platform

**Describe you

[2019-09-02 16:01] jmattheis commented on #214
Seems like git.apache.org/thrift was moved to https://github.com/apache/thrift/tree/master/lib/go/thrift this bug will probably be fixed when we upgrade the deps from gotify/server. See f.ex. https://github.com/googleapis/google-api-go-client/issues/347

[2019-09-03 02:12] zaddok commented on #214
What is the workaround for this. We are unable to deploy to app engine at the moment because of this.

[2019-09-03 06:11] jmattheis commented on #214
We probably could use replace in go.mod https://github.com/golang/go/wiki/Modules#when-should-i-use-the-replace-directive and replace the old path with the new one. The other way would be to update dependencies as thrift is only a transitive dependency of some deps that gotify/server uses. I'll have a look at it in the afternoon (cest).

[2019-09-04 02:40] cbalano commented on #214
FYI, I got past the issue by adding this line in go.mod, right above the require section:
<pre>
replace git.apache.org/thrift.git => github.com/apache/thrift v0.12.0
</pre>

[2019-09-04 04:13] cbalano opened #215 "Cannot Compile the UI"
**Can the issue be reproduced with the latest available release? (y/n)**

**Which one is the environment gotify server is running in?**
- [x] Docker
- [ ] Linux machine
- [ ] Windows machine
<details><summary>Docker startup command or config file here (please mask sensitive information)</summary><br>

[code]
</details>

**Do you have an reverse proxy installed in front of gotify server? (Please se

[2019-09-04 17:41] #214 closed

[2019-09-12 11:40] ThatNerdyPikachu opened #217 "Consistently getting WebSocket errors"
**Can the issue be reproduced with the latest available release? (y/n)**: y

**Which one is the environment gotify server is running in?**
- [ ] Docker
- [x] Linux machine
- [ ] Windows machine
<details><summary>Docker startup command or config file here (please mask sensitive information)</summary><br>

[code]
</details>

**Do you have an reverse proxy installed in front of gotify server? (Please

[2019-09-14 06:27] jmattheis commented on #217
@ThatNerdyPikachu does this problem also occurs on wifi? Otherwise, it should be kinda normal to have disconnects on mobile network.

[2019-09-14 16:56] ThatNerdyPikachu commented on #217
yes, consistently on wifi.

[2019-09-25 06:23] f4b1en opened #218 "Gotify docker image for armv7 / raspberrypi outdated"
Hello,
Image for armv7 is 9 month old v1.2.1: https://hub.docker.com/r/gotify/server-arm7
Is it possible to get an image with the latest release v2.0.6?
Thanks

[2019-09-25 09:43] patrick-othmer commented on #213
Here :)
Haproxy 1.8.8 with mode http. Working without a problem.

[2019-09-25 10:48] superwinni2 commented on #213
The big problem as far as I know is, that Gotify uses a Websocket connection. Due to that, HAProxy can't handle it as good as "normal" http connections....

[2019-09-25 15:36] patrick-othmer commented on #213
Haproxy detects websocket request and switch automatical

https://www.haproxy.com/de/blog/websockets-load-balancing-with-haproxy/

Wed Sep 25 12:48:40 GMT+02:00 2019 superwinni2 <notifications@github.com>:

[2019-09-25 19:15] MisguidedEmails opened #219 "Major.Minor Docker image tagging"
**Is your feature request related to a problem? Please describe.**
When specifying the tag when referencing the Docker image, it'd be nice to say `gotify/server:2.0` to get the latest `2.0` instead of having to keep up to date with the latest patch version.

**Describe the solution you'd like**
When uploading a new docker image for release, it should upload the patch version (as it currently does)

[2019-09-26 03:05] chrislee87 opened #220 "error with ui component"
error message as below:

[2019-09-26 06:09] ppacher commented on #220
This is a duplicate of #215

[2019-09-26 12:39] superwinni2 commented on #213
Okay Thanks :)
In a few days I will give it a try :)

[2019-09-26 15:13] #220 closed

[2019-09-27 07:33] superwinni2 commented on #213
After many many tries and failures I can't get it done....
I'm lost :(
Maybe somebody can help please?

My config at the moment:
[code]

[2019-09-27 07:53] Leosirth opened #221 "[golang/go] Security: CVE-2019-16276"
A new version of go (1.12.10) has been released to address the CVE-2019-16276 security issue: https://github.com/golang/go/issues/34540

We should update accordingly.

[2019-09-27 08:16] profy12 commented on #213
Nothink to configure with haproxy 1.8 to use websocket but use theses settings for socket timeout :
[code]

[2019-09-28 14:56] jmattheis commented on #221
:+1: I'll do it later today.

[2019-09-28 15:39] jmattheis commented on #215
I don't really know why this broke because we haven't updated any deps that could result in such a failure. Anyway, I'll update the ui deps which should fix this problem.

[2019-09-28 15:40] jmattheis commented on #213
If you have a working config feel free to add it to https://github.com/gotify/website (:.

[2019-09-28 17:02] jmattheis commented on #218
We removed the armv7 image because it wasn't that much used. But sure thing, we can readd it.

[2019-09-28 19:09] #215 closed

[2019-09-28 19:09] #221 closed

[2019-09-28 19:11] #218 closed

[2019-09-28 19:14] jmattheis commented on #217
@ThatNerdyPikachu hey sorry for the late response, you checked caddy for your reverse proxy config. Could you paste you caddy config?

[2019-09-28 19:42] jmattheis commented on #218
@f4b1en `gotify/server-arm7:2.0.7` is now available.

[2019-09-30 01:41] chrislee87 opened #224 "error with the ui component"
error message as below:

  Line 1:  Definition for rule '@typescript-eslint/consistent-type-assertions' was not found  @typescript-eslint/consistent-type-assertions

[2019-09-30 05:31] jmattheis commented on #224
Have you used the newest version? Could you add the whole output with the commend to this issue?

[2019-09-30 09:42] superwinni2 commented on #213
Mhmm....
I tried it now without HAproxy... Even the same error. Always some connection resets... every few secunds to a minute...
I've did a port forwarding with port 12345
Is there anything else where I can check anything?

Config.yml:
[code]

Log of Android Phone:
![Screenshot_2019-09-30-11-37-35](https://user-images.githubusercontent.com/42318077/65867480-cad34400-e376-11e9-8aae-d83d22ee2543.pn

[2019-09-30 12:04] mskian opened #225 "/lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.28' not found"
Found this issue on Latest Version `2.0.7`
I am using Binary package `gotify-linux-amd64`
While starting the server got this Below error

[code]

- Ubuntu 18.04 LTS
- Server Apache

[2019-09-30 13:56] eternal-flame-AD commented on #225
We recently advanced our go docker image version for release builds. The lastest build version is based on debian buster, released in 2019, which prolly has a higher glibc version. @jmattheis I think we should revert to an older glibc version for compatibility?

[2019-09-30 14:03] jmattheis commented on #225
Yeah, I guess we go for `golang:1.13.1-stretch`. this images has the same glibc version as `golang:1.12.5` (which we used previously)
[code]

[2019-09-30 14:05] eternal-flame-AD commented on #225
Yes let's keep using stretch images

[2019-09-30 14:53] mskian commented on #225
Got this from Superuser Forum - https://superuser.com/a/537694

[2019-09-30 14:55] jmattheis commented on #225
@mskian Yeah, that's basically what we were talking about :D.

[2019-09-30 18:11] jmattheis commented on #225
@mskian Could you try out the newest release?

[2019-10-01 03:57] mskian commented on #225
@jmattheis Now Working Perfect :100:

[2019-10-01 06:12] #225 closed

[2019-10-02 01:04] quthla opened #226 "Automatically reconnect"
Currently, when connection to backend is lost, be it due to an update of the container, network outage or something else, the frontend will wait for the user to manually click the retry button.

It would make sense to automatically retry at an interval without any user interaction.

[2019-10-02 01:08] eternal-flame-AD commented on #226
Did you mean the android client? It should automatically retry after a few minutes.
What did you see on the persistent notification? If it was an unexpected disconnect it should show 'retrying in ... minutes'

[2019-10-02 01:19] quthla commented on #226
I'm talking about the web frontend.

[2019-10-02 01:21] eternal-flame-AD commented on #226
Sorry I was my fault. Yeah this is indeed a limitation.

[2019-10-09 09:57] patrick-othmer commented on #213
Is there some firewall / filter between haproxy & gotify?

[2019-10-11 10:34] foxbit19 commented on #226
Hi, I could take this issue and insert a new feature to manage connection lost state.

[2019-10-11 13:49] eternal-flame-AD commented on #226
of course! thx for the contribution!

[2019-10-13 14:57] #226 closed

[2019-10-13 23:26] foxbit19 commented on #171
Hi, what about this issue?
I had a look at the code. I suggest to do some refactor tasks on `DefaultPage` component to support more than one button at the top fo the page.

What do you think?

[2019-10-14 16:53] jmattheis commented on #171
Yeah seems good, the default page could accept a react node then it would be more customizable
[code]
Another option would be a [Fab](https://material-ui.com/components/buttons/#floating-action-buttons) button, sadly we already have one which scrolls to the top.

[2019-10-15 08:02] foxbit19 commented on #171
`DefaultPage` + react node seems good! I would discard `Fab` button for now.

[2019-10-15 17:25] quthla commented on #226
@foxbit19 For me it's not working. The red bar is not showing but it's also not reconnecting by itself.

[2019-10-15 18:07] jmattheis commented on #226
@quthla yeah, I tested it like so:
* start gotify
* open website, create application
* stop gotify
* wait some seconds
* start gotify again
* send a message
* *message appears in the still open window*

[2019-10-15 18:14] quthla commented on #226
That's exactly what I did. It's also posting `WebSocket connection errored` to the console but other than that it's not working. I'm running gotify behind a reverse proxy which returns a 503 error when it can't connect go gotify. Maybe that confuses gotify?

[2019-10-15 18:27] quthla commented on #226
If I stop gotify and then instantly start it again, it will reconnect just fine but when it's offline for a few secs, it will not reconnect again.

Unless I'm missing something in the code, it's reconnecting only once after 3000 msecs and not making any further attempts after. As the red bar is also missing after this PR, there's no other way to manually reconnect other than refreshing the page.

[2019-10-15 20:33] marceltransier opened #230 "invisible text on plugin info/config page (WebUI) with light theme"
**Can the issue be reproduced with the latest available release? (y/n)** y

**Which one is the environment gotify server is running in?**
- [x] Docker
- [x] Linux machine
- [ ] Windows machine
<details><summary>Docker startup command or config file here (please mask sensitive information)</summary><br>

[code]
</details>

**Do you have an reverse proxy installed in front of gotify server? (Please

[2019-10-16 14:50] #219 closed

[2019-10-16 17:00] #217 closed

[2019-10-19 07:15] #171 closed

[2019-10-19 07:42] #230 closed

[2019-10-20 02:25] pm-pm commented on #171
Top! :-) Great work.

Thanks.

[2019-10-20 17:40] #159 closed

[2019-10-27 19:45] 4oo4 opened #235 "Automatically clean up old clients/tokens from WebUI?"
**Have you read the documentation?**
- [x] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [ ] Docker
- [x] Linux native platform
- [ ] Windows native platform

**Describe your

[2019-10-27 20:45] jmattheis commented on #235
Normally clients will be deleted on logout, otherwise you should stay logged in (when you allowed the usage of local storage). Client tokens could expire after some time of inactivity but that should be configurable and optional.

[2019-10-27 20:58] 4oo4 commented on #235
OK yeah, that makes sense, I'm guessing that I forget to logout and just close the tab most of the time. Having that configurable would be awesome, thanks!

[2019-11-05 00:02] gerroon opened #236 "Message search"
Hi

It would be nice if the web app provide a way to search and list the messages. Also would be nice if the cli app can do that too.

thanks

[2019-11-05 00:04] GustavGenberg opened #237 "Configure the server to listen on a unix socket"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A way of configuring the server to listen on a unix socket.
For example you could join the `listenaddr` and the `port` into a
single option called `listen`. Then the `listen` option could either
get passed `localhost:1234` or `unix:/tmp/gotify.sock`.

**Describe alternatives you've considere

[2019-11-05 18:13] jmattheis commented on #237
Do you have a specific use-case for this? This would be a breaking change which would require manual intervention of the user.

[2019-11-05 18:21] jmattheis commented on #236
Do you have a specific use-case in mind for searching messages? I see messages as one-time notifications not something that still has value after a month.

[2019-11-05 18:38] gerroon commented on #236
Hi

I was  thinking that the message backend could be used to take simple notes, as in the client send the message to that particular note app.

[2019-11-05 19:07] GustavGenberg commented on #237
I am currently running many different applications behind an nginx reverse proxy. By having the applications listen on a unix socket, I do not have to deal with a ton of different ports (aswell as there is a tiny performance gain). Therefore using the same structure for Gotify makes sense to me.

Maybe the `listen` option could override the `listenaddr` and `port` options, thus making the update b

[2019-11-07 08:33] natedalliard commented on #236
notes ≠ notifications

[2019-11-08 07:14] fkellner opened #238 "Systemd Installer Script"
**Problem:**
In order to run gotify as a service using `systemd` (present e.g. on Amazon Linux or Debian-based Linux-Distributions like Ubuntu) I had to write my own `gotify.service` file, create a user, copy the files to the right locations, edit the config...
**Feature**
Since this is a standard solution, it would be nice to include the .service and edited `config.yml` as well as an install- and

[2019-11-09 10:26] jmattheis commented on #238
I think the right location for this "tutorial"/install script would be our [website](https://github.com/gotify/website)

[2019-11-09 10:27] jmattheis commented on #21
Closing this for now, because it is not really needed.

[2019-11-09 10:27] #21 closed

[2019-11-14 01:48] gerroon opened #239 "Keeps using the same thumbnail for all image links"
**Can the issue be reproduced with the latest available release? (y/n)** yes

**Which one is the environment gotify server is running in?**
- [x ] Docker
- [ x] Linux machine

Hi

I am using Gotify to notify the clients with links sometimes, and sometimes these links are direct links to the images. I am glad that Gotify can show thumbnails of these images, but it seems like it keeps using the same

[2019-11-14 16:34] jmattheis commented on #239
Gotify does not show any thumbnails for links that were included inside the message. The images on your screenshot can be configured on the applications page.
![image](https://user-images.githubusercontent.com/14895212/68876207-62f97280-0704-11ea-96fd-11a0e44bcfd5.png)

You can use markdown to show the image inside the message. See https://gotify.net/docs/msgextras#client-display

[2019-11-14 16:45] gerroon commented on #239
I see, I did not know I assumed it was making a preview based on the image. I will take a look at the link.

[2019-11-15 01:37] gerroon commented on #239
Hi,

I looked at the page but I do not understand how I can use it. Mainly because I do not know much about stuff :(

This is my command and I do not know hopw to implement that in the command.

`curl -X POST "http://127.0.0.1:6000/message?token=XXXXXXX" -F "title=MSG" -F "message=$URL" -F "priority=5"

[2019-11-15 07:53] jmattheis commented on #239
Extras require a JSON request.

With curl:
[code]
With [gotify/cli](https://github.com/gotify/cli):
[code]

[2019-11-15 16:18] gerroon commented on #239
thank you

[2019-11-15 16:18] #239 closed

[2019-11-15 22:18] gerroon commented on #239
Hi
I cant get this to work :( I d onot know if this is an issue with curl or  gotify.

` curl --data '{"message": "logo: ![$1]($URL)", "title": "IMG", "extras": {"client::display": {"contentType": "text/markdown"}}}' -X POST "http://127.0.0.1:6000/        message?token=XXXXXXXXXXX" -H Content-Type:application/json`

Basically what I see is thet `$URL` replacement is not happening. I get `logo:$1`

[2019-11-16 11:05] jmattheis commented on #239
Bash does not evaluate variables in single quotes:
[code]

The android app should render markdown as well:
![image](https://user-images.githubusercontent.com/14895212/68992248-475bac80-0869-11ea-94d8-ebece227b5ca.png)
Do you have the newest version?

[2019-11-19 11:54] poVoq commented on #203
Just as a suggestion, the goth library seems to work really well (used in Gitea for example):
https://github.com/markbates/goth/

[2019-11-21 14:59] reschresch opened #240 "how I can get the application-token from a user without Web-UI"
Hello,
in my Application I want to send a message to one user. At this time I only know the username.
Actually I use in my source-code the application-token hardcodes - I see it in the Web-UI.
But normally I dont know the token (for example it is a new username).

How I can get the application-token?

Best regards,
reschresch

[2019-11-21 15:06] reschresch commented on #240
I mean the client-token I want to get!

[2019-11-21 16:04] ppacher commented on #240
Hey,

I guess you'r confusing application and client tokens. A client can query messages from the server and typically presents them to the user (like the Android client). An application can send notifications to a user (and thus all clients of that user). Both, the client and the application need an authentication token to prove they are allowed to query or publish respectively.

Since you want t

[2019-11-21 16:38] reschresch commented on #240
Hello,
you are right with my confusion. I edit my question and the headline.
Thank you.

I understand that there is (actually) no possibility to get the application-token via the API.
But how should it work? I can't believe that a "recipient-user" give another "sender-user" such a cryptic thing like a generated token.
I hoped that I can get the token with the credential of an user who have admin-r

[2019-11-24 15:49] JoeX84 opened #241 "gotify behind traefik with traefik's automatic cert resolver"
**Have you read the documentation?**
- [x] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [x] Docker
- [ ] Linux native platform
- [ ] Windows native platform

**Describe your

[2019-11-24 19:19] jmattheis commented on #241
When traefik is responsible for tls certificates, then you can ignore any tls settings in Gotify. Traefik should proxy the requests to the http endpoint of Gotify.

[2019-11-24 19:30] jmattheis commented on #240
https://gotify.net/api-docs#/application/createApp is the api for creating applications, however, because applications are bound to users, you need to have user credentials of the "recipient-user" to create one.

Or misunderstood something in the conception?

This is not possible with the standard gotify, but you could add a plugin (https://gotify.net/docs/plugin) which could send message to speci

[2019-11-24 19:47] reschresch commented on #240
Hello,
thank you very much.
You wrote "could add a plugin". Where I can find such a plugin?
Or are you meaning I have to write one myself?

Best regards,
reschresch

[2019-11-24 20:12] jmattheis commented on #240
Yeah, you'd have to write one yourself. Or find an existing one which solves your problem.

[2019-11-25 19:12] JoeX84 commented on #241
Okay, thank you, I'll try

[2019-11-25 19:12] #241 closed

[2019-11-28 00:54] prg318 opened #243 "ACMEv1 deprecation response from letsencrypt"
**Have you read the documentation?**
- [X] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and wants clarification.

**You are setting up gotify in**
- [ ] Docker
- [X] Linux native platform
- [ ] Windows native platform

**Describe your

[2019-11-28 19:14] jmattheis commented on #243
Good catch, I'll update our library for the lets encrypt certificates.

[2019-11-28 20:39] #243 closed

[2019-12-03 16:34] quthla opened #245 "WebSocket: ReadError websocket: close 1006 (abnormal closure): unexpected EOF"
**Can the issue be reproduced with the latest available release? (y/n)** y

**Which one is the environment gotify server is running in?**
- [x] Docker
- [x] Linux machine
- [ ] Windows machine
<details><summary>Docker startup command or config file here (please mask sensitive information)</summary><br>

[code]
</details>

**Do you have an reverse proxy installed in front of gotify server? (Please

[2019-12-03 16:46] jmattheis commented on #245
Looks like you haven't configured read/write/connection timeouts inside nginx. Could you try it again with the timeout config?
[code]
See https://gotify.net/docs/nginx

[2019-12-03 16:59] quthla commented on #245
I can try that. Does the server send pings on regular basis? Maybe the interval should be lowered then?

[2019-12-03 17:15] jmattheis commented on #245
Pings will be send every 200 seconds. We probably could lower it.

[2019-12-03 17:21] quthla commented on #245
I've set up nginx only for testing purposes. I'm using Apache as the actual webserver and in contrast to nginx, it will not log any errors like those of nginx.

So I guess it would help to either lower the interval or make it configurable at least.

[2019-12-03 18:53] jmattheis commented on #245
yy, do you know what the default timeout in apache is?

[2019-12-03 20:15] quthla commented on #245
https://httpd.apache.org/docs/2.4/mod/core.html#timeout

Could be 60 seconds

[2019-12-12 04:17] wusatosi opened #246 "[Question] Plan for native desktop client?"
**Have you read the documentation?**
- [x] Yes, but it does not include related information regarding my question.
- [ ] Yes, but the steps described in the documentation do not work on my machine.
- [ ] Yes, but I am having difficulty understanding it and want clarification.

**You are setting up gotify in**
- [ ] Docker
- [x] Linux native platform
- [x] Windows native platform

**Describe your p

[2019-12-12 18:45] jmattheis commented on #246
Hey @wusatosi,

there aren't any plans for an official native app. However, if someone from the community want to tackle this, I'd be happy to help with it.

[2019-12-13 02:26] wusatosi commented on #246
Great, I would like to try that, [electron](https://electronjs.org/) with [node-notifier](https://electronjs.org/) npm module seems to be a good fit, but I'm not experienced with js and apps (I'm more of a backend java/kotlin guy).

Anyhow, I might open up a repo and try that...

Thanks for the reply tho

[2019-12-14 08:19] PSSGCSim opened #247 "Long word/URL escapes it's parent box in the WebUI"
**Can the issue be reproduced with the latest available release? (y/n)** y

**Which one is the environment gotify server is running in?**
- [x] Docker
- [ ] Linux machine
- [ ] Windows machine
<details><summary>docker-compose up -d</summary><br>

[code]
</details>

**Do you have an reverse proxy installed in front of gotify server? (Please select None if the problem can be reproduced without the p

[2019-12-14 09:13] jmattheis commented on #247
Hey @PSSGCSim,

Thanks for you bug report. Would you like to file a pull request for this bug?

[2019-12-14 13:56] PSSGCSim commented on #247
Hello @jmattheis
sure, I have submitted the PR https://github.com/gotify/server/pull/248

Thank you

[2019-12-14 15:16] #247 closed

[2019-12-15 05:56] dylanparker opened #249 "Guidance on extending server API"
Hey Gotify devs.

I was interested in extending the API specifically so that I could display total message counts beside the application list in the Android client.

First, is this something I should pursue?

Second, how might one of you approach it?
The call would be requesting an Application list along with a tally of Messages associated with each Application. So, there are message-related aspec

[2019-12-15 15:13] jmattheis commented on #249
Hey @dylanparker,

this seems like a useful information, so, feel free to file a PR for it :D.

The count of the messages won't require an additional database call, it can most likely be integrated in the existing query (via join and groupby). In this case, the best place for the count property would be the model.Application. However, we will not need the count for e.q. validating if a application

[2019-12-16 14:42] reschresch opened #250 "Database: Userpassword verify directly"
Hello,
I want to verify a given username and password from my external program. I have access to the database, the username is no problem but the password is in a hash-code.
How I have to translate my given passwort to compare it with this hash-code?

Best regards,

reschresch

[2019-12-16 16:32] jmattheis commented on #250
The password is hashed via [bcrypt](https://en.wikipedia.org/wiki/Bcrypt).
https://github.com/gotify/server/blob/6dc783d99d27571c5488da52ae563997f6f225df/auth/password/password.go#L15-L17

[2019-12-29 15:11] twelho opened #251 "Expose the default port 80 in the Docker images"
**Can the issue be reproduced with the latest available release? (y/n)**
Yes, with the latest Docker image (x86_64 tested, but I see the same issue in the armv7 image as well).

**Which one is the environment gotify server is running in?**
- [x] Docker
- [ ] Linux machine
- [ ] Windows machine
<details><summary>Docker startup command or config file here (please mask sensitive information)</summary

[2019-12-29 16:55] jmattheis commented on #251
Hey @twelho,

feel free to file a PR. Improvements are always welcome.

As a side note: It is possible to specify the expose ports in the docker-compose file, tho having it declared inside the Dockerfile is the cleaner way.
[code]

[2019-12-29 20:40] twelho commented on #251
Great! PR filed: https://github.com/gotify/server/pull/252
As you mentioned, while it's possible to explicitly expose in `docker-compose`, from what I've seen it seems to more or less standard to expose the ports in the Dockerfiles.

[2019-12-30 09:26] #251 closed

[2020-01-02 19:38] LoiLock opened #254 "Blank page on first install of Gotify"
Just installed Golang using the binary and used the example config whilst only changing the port and admin credentials.

When I go to the subdomain that I've set-up for Gotify I just get a simple blank page. Using Firefox development tools obviously shows that the HTML is being served without any issues.
![inspector](https://valvesoftwa.re/rQERJlW4.png)

However 2 javascript files are failing to l

[2020-01-03 09:32] jmattheis commented on #254
Do you use some kind of reverse proxy like nginx or caddy?

Btw. I cannot open the screenshots, it just says: `Error Fetching Resource`. Could you upload them again or somewhere else?

[2020-01-03 18:43] LoiLock commented on #254
It was an issue with the Redbird reverse-proxy that I was using. I've switched to nginx and things seem to work beautifully! Ty

[2020-01-03 22:11] YouveGotMeowxy opened #255 "Notification Client?"
Hi all,

I'm trying to replace Pushbullet and am brand spanking new to Gotify. I just installed the server, and now am looking for a client that I can install on my windows machines to popup notifications as they come in, like PB does. Is there one available?

TIA

[2020-01-03 23:25] #254 closed

[2020-01-03 23:27] jmattheis commented on #255
Currently no native client for windows is available. You can however get notifications if you have the gotify ui open inside the browser.

[2020-01-08 03:01] manicolosi opened #256 "Allow overriding base URL"
I couldn't find anything in the docs to allow setting gotify server to be rooted as a subdirectory (e.g. my.domain.tld/gotify). Would it be possible to add this functionality?

Thanks!

[2020-01-08 15:06] YouveGotMeowxy commented on #255
Hi @jmattheis

Is there another, 3rd party, client that is somehow able to do so? By just adding in whatever necessary gotify info into it's settings? Something like a Growl or whatever?

[2020-01-08 17:13] jmattheis commented on #256
Our documentation contains reverse proxy configurations with subdirectories [nginx](https://gotify.net/docs/nginx) / [apache](https://gotify.net/docs/apache)

[2020-01-08 18:00] jmattheis commented on #255
I dunno, but it should be easy scriptable.

On linux it could be something like this:
[code]
-> `onmessage.sh`
[code]
this should basically show notifications on incoming messages (haven't testet it)

[2020-01-08 18:07] #249 closed